[2016-01-20 01:15] jasonslyvia opened #4 "Dispatching action in reducers is considered as anti-pattern"
http://redux.js.org/docs/api/Store.html#dispatch

Check the `A Note for Flux Users` section.

[2016-01-20 01:25] lukewestby commented on #4
Hi @jasonslyvia! Thanks for your feedback. This library doesn't actually dispatch actions in the reducer (redux actively prevents you from doing that). It lets you describe actions you want to happen in the future as a direct result of dispatching the current action. There's always going to be a need to have actions run in sequence in order to convey the status of some asynchronous or side-effecti

[2016-01-20 01:31] lukewestby commented on #4
Actually, let's leave this open as I think other folks might feel the same concern and we should keep the conversation going a while.

[2016-01-20 21:38] lukewestby opened #9 "isLoop and isEffect can't handle undefined or null"
For example, calling `install()(createStore)(reducer)` without the initial state will blow up.

[2016-01-20 22:11] cormacrelf commented on #4
So, three premises:

1. Reducers only act on previous state and new actions.
2. Redux-thunk and other middlewares give you access to getState as well as dispatch in your action creators.

Anything you can do in redux-loop can therefore be done with a middleware.

Why not create something like redux-promise that converts actions with a 'loop' key with an array of actions (use with thunks to actuall

[2016-01-20 22:49] cormacrelf commented on #4
You can basically treat your middleware like a big, multi-file recursive function with async recursive abilities. Looks like this:

https://cldup.com/mP3I0KNYc7.png

You could treat an action containing a list of actions like your middleware is a right fold from functional programming.

[2016-01-20 23:28] lukewestby commented on #4
Hey @cormacrelf, thanks for sharing your thoughts! I've organized some responses here:

With redux-loop reducers are still only acting on previous state and new actions. The difference is that instead of deciding what happens to your state _now_, your reducer is deciding what happens to your state _next_. I think that's an important distinction, and it stems from my understanding of synchronous st

[2016-01-21 00:06] cormacrelf commented on #4
Hm, I like that rewinding point in the comment you linked. I always thought it would be good if replaying the synchronous part of a thunk- or promise-style async request wouldn't just stop.

I think I would be sold if I could see how to implement redux-promise-middleware in a redux-loop reducer. Could that easily be done without storing actual promises in the state?

When you return loop(...) with

[2016-01-21 00:24] cormacrelf commented on #4
Oh, actually I see. You can't do that, because the promises already exist, and you wouldn't get replayability. You need to take it a whole step further back, stop creating promises in your action creators and start creating them in your reducers instead.

I must say it feels pretty weird to be doing API calls in a reducer. There is also no way around having promises in the state.

[2016-01-21 01:18] cormacrelf commented on #4
My only other issue is making this stuff generic. Let's say I have a reducer that makes all my API calls for me. If I want to add some data dependencies, like fetching a parent when getting a child, then where do I put them? I suppose that's doable with an action creator that does dispatch().then, but that's what we're trying to avoid, because it breaks up the chain of effects. I guess it's not as

[2016-01-21 03:14] lukewestby commented on #4
This is really good feedback, I'm finding a lot of places in the documentation where we should have addressed the things you're bringing up.

*To address your concerns about where promises are stored, where they exist in the state, and making API calls in the reducer:*

Promises aren't actually stored anywere. The structure of an effect for a promise is just a plain object with a list of args and

[2016-01-21 03:26] #9 closed

[2016-01-21 03:41] cormacrelf commented on #4
You should add to the documentation a note about store enhancer composition order. I fiddled for a good while before realizing that you absolutely had to place install() after your middleware, i.e.

[code]

That way your middleware need not know you're using loop, and doesn't need to namespace everything under 'model' (esp. getState() in thunks and redux-simple-router's historyMiddleware). And, wh

[2016-01-21 03:44] lukewestby commented on #4
Yes, we will definitely add this. My note about enhancer order currently in there is very hand-wavy. If you want to contribute some documentation yourself that would be great too!

[2016-01-21 03:58] lukewestby commented on #4
Updated!

[2016-01-21 04:01] lukewestby commented on #4
Since this is now more becoming more general feedback (which is greatly appreciated) and less of a discussion about understanding whether dispatch is occurring in the reducer I'm going to close this one. But, always feel free to open additional issues with more comments and concerns. Just wanna keep things organized and discussions focused.

[2016-01-21 04:01] #4 closed

[2016-01-22 21:32] jbalboni opened #10 "Question about pulling different state slices together"
This was mentioned offhand in https://github.com/raisemarketplace/redux-loop/issues/4#issuecomment-173378176, but I was curious how I could get state information from outside the slice the reducer is operating on, if I switched to using redux-loop.

Currently, I would use redux-thunk and the getState function that's passed to the function you return from an action creator. So, for example, I have

[2016-01-22 22:56] lukewestby commented on #10
Thanks for your question! This is a good one and something that should be highlighted in the docs. So one option is to do it the Elm way, and pass that info from another area in your state down through the view layer via `props` on your components. From there you can pass `state.path.to.info` into your action creator as an argument. Granted, this can be pretty tedious if you've got a lot of nestin

[2016-01-23 18:58] yelouafi commented on #10
How about having a separate reducer for those kind of effects. The reducer wont return any state but just pull out the required info from the state atom and return one or more action effects to be handled by *normal* reducers.

BTW nice work @lukewestby

[2016-01-23 19:55] lukewestby commented on #10
I think the conceptual buy-in of this library is that effects should be colocated with the parts of the state to which they are most pertinent. If the shape of the state is such that it would be easier to manage side-effects separately from state transitions I think folks would be much better served with [redux-saga](https://github.com/yelouafi/redux-saga).

---

Thanks @yelouafi! That means a lot

[2016-01-24 16:29] jbalboni commented on #10
Thanks @lukewestby!

[2016-01-24 16:29] #10 closed

[2016-02-04 21:19] lukewestby opened #15 "Make redux a peer dependency"

[2016-02-11 18:15] lukewestby opened #16 "Add ability to lift effects"
redux-loop notably lacks the functionality provided by `Effects.map` in elm-effects. There's an important difference between Elm and redux-loop here, in that functions are not comparable in Elm but we can still do reference equality in JavaScript, so adding this functionality should _not_ break `deepEquals` comparisons. Also, the ability to do arbitrary mapping might lead folks to try to chain tra

[2016-02-11 18:17] lukewestby commented on #16
cc @jarvisaoieong, i saw that you were working on `map` functionality in your fork

[2016-02-11 18:19] lukewestby opened #17 "Add sanity checks"
Due to lack of type-safety in JavaScript, there are a ton of places in redux-loop where folks could pass the wrong kind of argument and be met with hard-to-understand errors. Let's instead catch them at the source and through errors with helpful messages!

Finishing this will constitute a major release so I've created the sanity_checks branch for folks to submit PRs against.

[2016-02-11 20:28] lukewestby commented on #15
closed by v1.0.4

[2016-02-11 20:28] #15 closed

[2016-02-11 20:46] lukewestby opened #18 "Roadmap"
#### Meta-issue to track future plans

- [x] Add `lift` effect
  - #16
- [x] Return an array from `loop` instead of an object for easy destructuring
  - #27
- [ ] Port redux examples
- [ ] Better test coverage
- [ ] Write full-length tutorial

[2016-02-13 03:03] jarvisaoieong commented on #16
I'd like to help. I've do some experiment to port the elm architecture examples to redux with the redux-loop. I also fork the redux-logger to support async action logging with the power of redux-loop.

I will show these examples for discussing.

[2016-02-13 16:27] jarvisaoieong commented on #16
Oked, let's check it out.

source code: https://github.com/jarvisaoieong/redux-architecture
live demo: http://jarvisaoieong.github.io/redux-architecture/

In the live demo, please open the console to see some log
![b88cb411-6c27-4f00-86aa-27ef7f7168bc](https://cloud.githubusercontent.com/assets/195635/13028689/503e494e-d2b1-11e5-858e-23a78f17b6cc.png)

I will update the README for more information

[2016-02-15 17:27] lukewestby commented on #16
@jarvisaoieong this is fantastic! I love the logger integration, super helpful for tracing action paths.

I think your implementation of `Effects.map` is exactly what we would want for `Effects.lift`. Do you want to rename and submit a PR?

[2016-02-16 01:39] jarvisaoieong commented on #16
Nice you like it. I will submit a PR today.

[2016-02-16 04:20] jarvisaoieong opened #20 "Combine Effects.promise and Effects.constant to Effects.call"
if the Effects.promise internal resolve implementation add a safe promise wrapper, e.g.

[code]

then the Effects.constant call

[code]

can change to

[code]

and I propose rename it to Effects.call or something other.

In user land, we don't need to care whether it is a task or simple action.

[2016-02-16 23:16] lukewestby commented on #20
I definitely see where you're coming from, but I don't agree that users don't need to care whether the effect is as task or a simple action for a couple reasons.

- Separate names allow the different functions to be self-documenting and reduce the amount of implicit behavior the user needs to manage in their mind
- Allows us to do sanity checks (#17) to verify that the user has passed the correct

[2016-02-17 01:26] jarvisaoieong commented on #20
Make sense! Thank you for detailed explanation.

[2016-02-17 01:43] jarvisaoieong opened #22 "Add second param in Effects.batch"
Use case:

[code]

If it make sense, i am willing to submit a PR.

[2016-02-17 02:55] lukewestby commented on #20
No problem! And thank you for your input and suggestions! Your contributions this week have been great, we really appreciate them. Okay to close this issue?

[2016-02-17 03:11] jarvisaoieong commented on #20
It's my pleasure. I close it.

[2016-02-17 03:11] #20 closed

[2016-02-17 03:21] lukewestby commented on #16
published v1.1.0!

[2016-02-17 03:21] #16 closed

[2016-02-18 03:44] lukewestby commented on #22
What would be different about the execution of the effect in the second parameter vs. those in the first?

[2016-02-18 03:47] jarvisaoieong commented on #22
the second param effect will execute when the first param effect finished

[2016-02-18 03:49] jarvisaoieong commented on #22
maybe the second param can called afterBatchFinishedEffect :)

[2016-02-18 03:53] lukewestby commented on #22
So, with `Effects.batch` none of the actions will be dispatched until all of the effects are finished. If you pass `Effects.constant(inited())` as the third element of the array it will be dispatched immediately after the first 2 are dispatched. Do you think this is too implicit for what is intended?

[2016-02-18 03:53] jarvisaoieong commented on #22
the effectToPromise implementation maybe like this

[code]

[2016-02-18 03:56] jarvisaoieong commented on #22
good point!!!

[2016-02-18 03:58] jarvisaoieong commented on #22
Oh, I think it will solve the problem. closed

[2016-02-18 03:58] #22 closed

[2016-02-18 04:07] lukewestby commented on #22
In any case, I probably didn't document that feature of `Effects.batch` clearly enough. Thank you again for your suggestion! Keep'em coming if you've got more 😀

[2016-02-20 10:38] bardt opened #23 "Observable effects completion statuses for better server rendering"
I was in the middle of brainstorm about better server-rendering and side effects management in redux apps when I found this repo. I want to share some thoughts here and maybe take part in developing if you find them sensible.

## tl;dr

Having a way to observe the effects completion statuses (like how many effects are not completed yet) could give us an ability to completely separate UI and applic

[2016-02-20 18:30] lukewestby commented on #23
Hey @bardt, thanks so much for contributing your ideas. I'm not feeling super well this weekend and want to give this the full attention it deserves so I'll get back to you in a couple days.

[2016-02-22 16:22] lukewestby commented on #23
So! @bardt, thank you again for contributing your thoughts.

Adding this as a distinct feature shouldn't be too difficult, the basis for this functionality is already available. That is, when you dispatch an action dispatch returns a Promise for when that action and any future actions it causes have been completed. We can use this to set up a subscription-based mechanism for listening for the comp

[2016-02-23 07:48] bardt commented on #23
@lukewestby from the very top level, I'd love to extend store with new entity – `effectsQueue`. The code could look like this:

[code]

This means, the queue should be updated before subscription listeners are fired. I haven't read your code attentively yet (sorry for that), so I'm not sure if it fits the whole architecture. Looks like we should overwrite subscribe method to be fired a bit later,

[2016-02-23 16:49] lukewestby commented on #23
@bardt something to consider:

For this case are you only interested in whether the queue is empty or do you want to inspect the items in the queue? In the case that you only want to be notified when the queue has emptied I think a callback-based subscription similar to `subscribe` might work better.

[2016-02-24 05:03] bardt commented on #23
@lukewestby for me it is strange to provide `isEmpty` as callback and not give ability to inspect the queue. I don't see any reasons why anyone should want to inspect the queue items, but that doesn't mean there aren't such cases. The more flexible solution is preferred.

We could provide a subscribe solution as well as manual check, 'cause I think these things are related under the hood.

Do you

[2016-02-24 18:56] lukewestby commented on #23
@bardt I disagree with your point about including a more flexible solution in this case, but please don't take this to mean that any future suggestions you have aren't valued!

I don't want to include functionality without a demonstrable reason for why it's needed. Since you've said yourself that you don't see a reason why someone would want access to the active effects in the queue then let's lea

[2016-02-25 06:20] bardt commented on #23
@lukewestby I totally understand your position about flexible solution here. That's not a point for discussion right now, I agree to add features as soon as real cases appear.

That way, lets check pros and cons of a separate queue subscription mechanics.

Pros:
+ No need to modify store subscription internally
Cons:
- Not obvious if it is fired once or multiple times during lifecycle
- Difficult

[2016-02-25 16:55] lukewestby commented on #23
@bardt looks like a manual check is the right way to go to me!

[2016-02-26 10:43] bardt commented on #23
@lukewestby I will start hacking during next week then. Do you want to give me any instructions?

[2016-02-27 21:18] lukewestby commented on #23
@bardt I think we've covered everything! I haven't gotten around to adding an eslintrc yet so just try to stick to the existing coding style as much as you can. It'll be on me to make sure it's totally consistent later. Let me know if you have any questions along the way. Thanks!

[2016-02-29 09:07] danielmohacsi opened #24 "Getting "loop Promises must not throw!" error when running the example"
Hi there,

First of all, I would like to thank you for this really awesome library!

I have started playing around with the example. The `delay` function rejects the promise with a 20% chance. If the promise gets rejected, the error gets printed to the console.

I am considering to choose this framework to manage my async flow as I'm porting my third-party JS application from Flux to Redux.
I can

[2016-02-29 14:14] lukewestby commented on #24
Thanks for reporting this, and thank you for your interest @danielmohacsi!

Have you changed any of the example code or does it show this message just as it is?

[2016-02-29 14:22] lukewestby commented on #24
@danielmohacsi I'm not seeing this happen in the example when installed without modifications from this repo. Did you remove or forget a `.catch()` call on any of your effect promises?

[2016-02-29 14:39] danielmohacsi commented on #24
Thanks for getting back to me!

You're right, I have modified the example a little bit. I have changed the ```const Api (...)``` definition to the following one:

[code]

Sorry for not stating this in the issue description!

[2016-02-29 14:41] danielmohacsi commented on #24
And I found it, I'm not returning any action. Sorry, I'm an idiot.

[2016-02-29 15:10] lukewestby commented on #24
@danielmohacsi even though it turned out that there wasn't a bug in the example or library _functionality_, I think we can consider this a bug in the _error message_ in that it wasn't helpful enough to point out where the issue was. I think we can reopen this with the `bug` tag and I'll improve the error message to include this case where an action wasn't being returned as well as some possible ot

[2016-02-29 15:15] danielmohacsi commented on #24
That's true, but you've written your comments to the example, I just did not read it.

Anyway, thanks for your help!

[2016-03-04 09:50] bardt commented on #23
@lukewestby check my PR, please. The simplest solution I came to is there. Another question: I modified the example to check my general logic. Should I create a separate example to demonstrate server-side rendering or modify existing one to use a simple server?

[2016-03-05 20:35] mxdubois opened #26 "Expose `liftReducer` and/or `liftState`"
Hey. I'm trying out the library and the first issue I've encountered is that some actions produce effects and others don't, which means my reducer returns inconsistent structures. I'd like to be able to normalize that for testing.

I see you've solved this problem internally with `liftReducer` / `liftState`. It'd be great to have access to those in my application/tests.

For my own sanity, I could

[2016-03-05 20:48] mxdubois commented on #26
Actually, upon second glance, it looks like I actually want something more like `compose(liftState, myReducer)` since `liftReducer` changes the input as well as the output.

[2016-03-05 22:51] lukewestby commented on #23
@bardt sorry about the delay, I'll give it a thorough review on Monday. Regarding an example, if you have time to create a separate example demonstrating how you want to use this for server-side rendering that would be fantastic. If not, your addition to the current example seems plenty sufficient to communicate the usage of the feature.

[2016-03-05 22:53] lukewestby commented on #26
Sure, we can expose `liftState`. Do you want to submit a PR?

[2016-03-09 14:37] jgoux opened #27 "Return an array from "loop()" instead of an object"
Hi,

is there any reason why the `loop` function returns an object ?

As my experiment (which is turning into a real app now :smile: ) grow, I end up writing this kind of code **a lot** :
[code]

It's a tiny detail, but being able to directly extract the `model` and the `effect` from the `loop` function would be a great DX boost :
[code]

Also it would be closer to Elm's API, which uses a Tuple re

[2016-03-09 18:28] mauron85 opened #28 "Route action as effect (react-router-redux)"
Hi, I'm struggling with making effects work with react-router-redux. I've setup react-router-redux routerMiddleware and trying to change history as effect.

Example:

[code]

In redux DevTools I see that action @@router/CALL_HISTORY_METHOD is triggered, but history (url) is not changed. Trying to figure out, what I'm doing wrong here.

[2016-03-09 19:19] mauron85 commented on #28
Example repo: https://github.com/mauron85/redux-loop-react-router-redux

[2016-03-09 22:57] lukewestby commented on #28
@mauron85 so I'm not sure why this is the case, but this is entirely dependent on the order the enhancers are applied in. If you apply them in this order:

[code]

then everything works. Any other configuration either seems to break react-router-redux or otherwise actions returned by a `loop` are somehow not being handed to the middleware. I'm not sure why that's the case but I'll look into it mor

[2016-03-10 07:51] mauron85 commented on #28
@lukewestby thank you very much, changing order did the trick for me.

[2016-03-11 20:47] lukewestby commented on #28
So it looks like because the redux-loop enhancer calls dispatch on the store that was created in the enhancers that follow it it effectively skips any dispatch enhancement that was applied by enhancers before it in the chain. In this case, `applyMiddleware` applied before redux-loop's enhancer doesn't allow redux-loop's `dispatch` to "know" about the custom dispatching that happens in order to ena

[2016-03-14 06:25] wereHamster opened #29 "Effect which produces multiple actions"
Use case: Open a WebSocket as part of an effect and dispatch an action for each message that is received.

[2016-03-14 16:55] lukewestby commented on #29
WebSockets should be handled outside of redux-loop's purview. For handling WebSocket messages, I recommend dispatching an action directly to the store inside of the WebSocket handler. This would be analogous to using a port and then `inputs` array in Elm's `StartApp`. For opening the socket in response to an action I recommend using a custom middleware to listen for that action or actions and do t

[2016-03-15 16:27] lukewestby commented on #24
Fixed in v2.0.0!

[2016-03-15 16:27] #24 closed

[2016-03-15 16:28] lukewestby commented on #26
Included in v2.0.0!

[2016-03-15 16:28] #26 closed

[2016-03-15 16:28] lukewestby commented on #27
Included in v2.0.0!

[2016-03-15 16:28] #27 closed

[2016-03-15 18:52] jgoux commented on #27
:100: :+1: :star2: :sparkler: :smile_cat:

[2016-03-16 03:29] mxdubois commented on #26
thanks @lukewestby! sorry I didn't get around to a PR.

[2016-03-16 09:37] jarvisaoieong opened #30 "Suggestion: Add Effects.call type"
Some sync tasks such as access localStorage, call [history](https://github.com/mjackson/history) method are also side effect.

Now we only can use the Effects.promise to do some stuff. It works but a bit strange.

e.g.

[code]

[code]

[2016-03-16 10:33] jarvisaoieong opened #31 "Suggestion: Dont use Symbol"
In mobile, the browser compatibility of Symbol is poor.
We dont intend to use polyfill in the mobile env to increase the file size.

P.S. I have used half of day to debug in IOS env because of the Symbol. It's very difficult to find a tool to inspect the iOS device.

[2016-03-16 11:34] tarjei opened #32 "Suggestion: Add Effects.generator"
Hi, after using `redux-saga`I have fallen in love with JS generator functions. Would it be possible to have a generator function effect that runs the generator function until it is done?

[2016-03-16 15:20] lukewestby commented on #30
:+1: definitely, good idea!

[2016-03-16 15:21] lukewestby commented on #32
I'm definitely interested in seeing how this could play out, would you mind sharing an example of what such a generator might look like?

[2016-03-16 16:20] lukewestby commented on #31
I'm not sure I want to change this right now. Symbols work really well for the use case here of identifying which objects have been created by `Effects`. This is going to be increasingly important as we start to add more helpful error messages when a function expects an effect and was given something else.

FWIW, [iOS 9 supports Symbols](http://kangax.github.io/compat-table/es6/#ios9), and if file

[2016-03-17 01:03] jarvisaoieong commented on #31
I know the benefit of Symbol. Maybe we should write down this caution in the doc.

[2016-03-17 03:06] lukewestby commented on #31
Agreed! I'll mention the Promise requirement for older browsers as well.

[2016-03-17 15:50] lukewestby commented on #30
@jarvisaoieong do you want to submit a PR?

[2016-03-20 16:28] lukewestby commented on #31
Added a note to the README, thank you!

[2016-03-20 16:28] #31 closed

[2016-03-20 17:25] claudiuandrei commented on #28
@lukewestby from what I can see the actual issue is that the dispatch in redux-loop will actually trigger the effect. Combine will call the enhancers in reverse orders, so when dispatch is getting the state the effect was not actually created yet, as it will be in the applyMiddleware.

In the current implementation solution is to always have redux-loop at the beginning. A possible fix is to schedu

[2016-03-24 14:49] leonaves opened #38 "combineReducers does not support root immutable state"
The implementation of combineReducers provided with this library does not support a root immutable state such as Map. (Which is odd as the example in the repo uses a Map as its root state—but doesn't use `combineReducers`). The problematic areas are here in `combineReducers.js`:

[code]

And the mapValues function in `utils.js`:

[code]

This limits the root state to being a plain object. I have w

[2016-03-24 16:56] leonaves commented on #38
Just thinking a bit more, another option might be to either export Symbol(isEffect) or to use Symbol.for() instead, as this is the main reason the function can't be replicated without requiring isLoop. (isLoop would be trivial to recreate if it didn't need that instance of that symbol).

[2016-03-24 19:58] jgoux opened #39 "Conflict between install() and devToolsExtension's store enhancer"
Hello,
I'm trying to use the [redux devtools extension](https://github.com/zalmoxisus/redux-devtools-extension) with redux-loop.
I don't think they play well together because as soon as the devToolsExtension enhancer is called, the state is of the shape `[state, effect]` which shouldn't happen when having `install()` called first.

Here is my code :
[code]

If I remove the devToolsExtension, the s

[2016-03-24 22:14] lukewestby commented on #38
I don't want to export `Symbol(isEffect)`, it's 100% an implementation detail. Exposing `isLoop` is definitely an option, I can think of plenty of other reasons why someone might want to have this function available in addition to this one.

Using immutable objects with combineReducers has come up before internally and in discussions so it would be great to find a solution. Like you said, includin

[2016-03-24 22:19] #30 closed

[2016-03-24 22:29] #28 closed

[2016-03-24 22:39] lukewestby commented on #39
This is a problem we're dealing with in a number of different scenarios. The way enhancers compose has a really negative impact on how reliably all of the enhancers work together. See #28 as another example. I'm going to close this because I don't think there's anything we can do about it in this project. If you discover something definitely leave another comment and we'll reopen.

[2016-03-24 22:39] #39 closed

[2016-03-24 22:46] lukewestby commented on #32
Closing until we hear back

[CONTRIBUTING.md](https://github.com/raisemarketplace/redux-loop/blob/master/CONTRIBUTING.md#issues)

[2016-03-24 22:46] #32 closed

[2016-03-25 01:39] leonaves commented on #38
Seems to work well, I'm still trying to square it with changes made in [#36](https://github.com/raisemarketplace/redux-loop/pull/36), but I think it will work well. I was worried it was a bit long winded, but it adds no extra complexity to the default case of using an object (with proper defaults for initialState, accessor, and mutator.

I will try to make a pull request tomorrow, I would like to

[2016-03-25 12:17] leonaves commented on #38
https://github.com/raisemarketplace/redux-loop/pull/40

[2016-03-26 11:40] mauron85 commented on #28
@lukewestby I've just upgraded to redux-loop 2.0.0 from 1.1.0 and it seems to store state very differently.
In version 1.1.0 state atom is object with structure:
[code]
in 2.0.0 state is array
[code]
You can still use my example to reproduce.
Is this intended?

[2016-03-30 10:33] tarjei opened #41 "Add an Effect for dispatching an unknown amount of actions"
Hi, I'm working on implementing file upload progress using redux-loop.

My problem is observing progress events from the XHR object. How many of these there will be I will not know on beforehand.

What I'm looking for is a way to dispatch a number of effects (i.e. actions) from within my single Effect.promise()

What I would like is not to have to pass the dispatch function into the file upload ac

[2016-04-04 20:12] lukewestby commented on #38
Published 2.1.0!

[2016-04-04 20:12] #38 closed

[2016-04-04 20:19] lukewestby commented on #41
My instinct tells me that you'd need a middleware to do this, but I'm checking with some folks in the Elm community to find out how they'd do it, just to be sure 🙂 I'll report back when I gather some suggestions for you!

[2016-04-04 21:50] lukewestby commented on #28
@mauron85 it is! It's intended to assist with destructuring when you call a reducer directly. Instead of doing

[code]
 you can just do
[code]

This was the reason for the major version bump.

[2016-04-05 10:18] tarjei commented on #41
Interesting! I guess you're right wrt middleware, but I would love to see a nice solution :)

[2016-04-06 11:56] tarjei commented on #32
I'm sorry for not getting back to you @lukewestby , but a generator might look like this:

[code]
One could also think that a generator yielded multiple results:
[code]
Where each result would be an action to be handled by the store.

Is this what you're looking for ?

Also, note that a generator function returns an iterator with a special done attribute that you can check.

[2016-04-06 12:08] tarjei opened #44 "redux-loop 2.1.0 breaks redux-form"
Hi, I just upgraded to 2.1.0 to get access to Effects.call, when I experienced this.

I'm using http://redux-form.com/4.2.0 and this works quite nicely with redux-loop 2.0.0.

When I upgrade to 2.1 things stop working.

That is, if I change a field, the action is dispatched (as seen in DevTools), but the the new state is not propagated to React - i.e. the properties in the form are not updated.

I

[2016-04-06 19:02] lukewestby commented on #44
Can you share a minimal reducer and store configuration where you can see this problem occurring? There weren't intended to be any breaking changes between the two versions but I might have messed something up.

[2016-04-08 12:05] tarjei commented on #44
Hi, yes I'll try to look into it :)

[2016-04-08 17:02] buzinas commented on #23
Any news on this? @bardt @lukewestby

[2016-04-09 06:50] bardt commented on #23
@buzinas I've kind of switched to another task for some time. Plan to work on some examples in this PR tomorrow.

[2016-04-13 14:06] tarjei opened #45 "Effect.promise executed twice."
Hi, I got two reducers (out of 7) that return effects.

This is with redux-loop 2.0.0.

Now, the simplest of the two is doing something very odd. When I return a promise, the promiseFactory function is executed twice(!):

[code]

Now, when growlAction() is dispatched, the reducer is executed once, but then executeTimeout is called twice with the same arguments.

I'm a bit stumped at this one. Any

[2016-04-13 17:47] tarjei commented on #45
Hi Again, I thought I'd throw in the configureStore function for good measure :)

[code]

[2016-04-13 20:01] lukewestby commented on #45
@tarjei that's a serious issue! I'll start looking into it this weekend at the latest. Thank you so much for including all of this context in your issue, exemplary! I'll let you know if I need any more information. And if you (or anyone else) figures it out before then please feel free to submit a PR as always.

[2016-04-14 07:07] tarjei commented on #45
Thanks @lukewestby I'm a bit stumped at what can be happening here. I tried rewriting all my reducers to return objects, but that did not change anything. Anyhow, at least that possibility is excluded.

[2016-04-14 09:17] Egor-Sapronov opened #47 "Default mutator don't create new object"
I use plain objects for reducers and have problem with this, because state mutate but link for the object don't change

Fix in this [pr](https://github.com/raisemarketplace/redux-loop/pull/46)

[2016-04-14 09:23] tarjei commented on #45
I have kind of an intuition that what is happening is that the promise is not removed from the state after it has been executed in runEffects() but I do not understand enough internals to be sure.

[2016-04-14 11:01] aksonov opened #48 "Integration tests with redux-loop?"
I'm trying to run mock redux store from my unit tests according to:
https://github.com/reactjs/redux/blob/master/docs/recipes/WritingTests.md

It works well for redux-thunk as well as redux-saga, because they are 'middleware' that could be set inside 'mock' redux store, but i can't figure out how to do it with redux-loop with its 'install()'

[2016-04-14 22:42] AgentME commented on #41
I was thinking that this could be done nicely with an `Effects.observable` function that took an [es-observable object](https://github.com/zenparsing/es-observable). Observables are like promises but can ~~resolve~~ deliver multiple values over time and then announce when they have no more values. (You can also unsubscribe from an observable, and it can choose to stop delivering values early and r

[2016-04-18 13:39] lukewestby commented on #47
@Egor-Sapronov thanks for your contribution! Before I merge your PR can you give an example of the issues this is currently causing in your application?

[2016-04-18 16:33] Egor-Sapronov commented on #47
@lukewestby it happens when i use nested reducers like
[code]

There is full example of this issue
[code]

State was changes and subscribe on the store fired, but link to the store doesn't changed. Function connect from react-redux has pure render option by default, so if state not changed it not rerender the wrapped component

[2016-04-18 16:35] lukewestby commented on #47
Gotcha! Sounds good. I'm going to release tomorrow so I'll merge it then. Thanks!

[2016-04-18 16:38] Egor-Sapronov commented on #47
Thanks you for working on this library!

[2016-04-18 16:40] lukewestby commented on #47
It's my pleasure! Really, most of the work on it comes from the community. Y'all make my job easy 😄

[2016-04-19 19:21] #47 closed

[2016-04-19 20:57] lukewestby commented on #45
@tarjei i went with your intuition and added a change to remove the effect from the store entirely and track it separately. i've been meaning to do this for some time but i think it'll help here as well. can you install 2.1.1 and see if this fixes things? if not i'll do some more detailed investigation 😄

[2016-04-19 21:10] lukewestby commented on #48
It doesn't look like `redux-mock-store` is compatible with enhancers other than `applyMiddleware`, which it calls internally 😦

If you definitely need to use `redux-mock-store` I would suggest getting in touch with the author via a github issue on that repository to figure out how you would go about applying an enhancer like `install()`.

[2016-04-19 21:10] #48 closed

[2016-04-19 21:10] #44 closed

[2016-04-19 21:18] lukewestby commented on #32
If you'd just like to use generators to abstract async behavior in an `async/await` like manor I would suggest bringing in something like [co](https://github.com/tj/co) and using that in conjunction with `Effects.promise`. Regarding yielding multiple actions, this is something redux-saga is really good at and built to do and you can totally use it together with redux-loop without issue, even thoug

[2016-04-19 21:26] lukewestby commented on #41
So the conclusion here is that in Elm you would need a separate `Signal.Mailbox Action` to which you would send progress actions and then route those actions in via the `inputs` option on a `StartApp` config. Translated, to redux, you'll need a middleware so you have access to `dispatch()`.

I don't want to introduce higher-order reactivity effects like `Effects.observable` because they immediatel

[2016-04-19 21:26] #41 closed

[2016-04-20 06:26] tarjei commented on #32
OK, thanks for the input :)

2016-04-19 23:19 GMT+02:00 Luke Westby <notifications@github.com>:

--
__________________
Tarjei Huse
Mobil: 920 63 413

[2016-04-29 02:12] mocheng opened #49 "Is `dispatch` returning promise breaking to existent application?"
If existent code depends on the fact of default `dispatch` returning action, then redux-loop dispatch behavior is breaking.

[2016-04-29 16:09] lukewestby commented on #49
`dispatch` returning an action is not a guaranteed behavior, per http://redux.js.org/docs/api/Store.html#dispatch

For example, when you use `redux-thunk`, calls to `dispatch` will return the function dispatched by the store instead of the action or actions that the thunk actually dispatched itself.

[2016-04-29 16:09] #49 closed

[2016-05-01 06:02] Egor-Sapronov opened #50 "Don't executes initial effects for nested reducers"
There is my code
[code]

But my effect in search reducer don't call on start, only if i create full initial state for store like this
[code]

I think it's a problem with setup initial state from nested reducers in combineReducer but don't know how to fix it

[2016-05-10 07:42] mocheng commented on #28
This thread of discussion saves me hours.

I am combining *react-router-redux* and *redux-loop*. It always fails with below message.

It looks that *redux-loop* changes the behavior of `store.getState` to return a array instead of object.

Putting `install(()` ahead of `applyMiddleware` solves the problem.

[code]

[2016-05-14 21:01] bdwain opened #51 "immutablejs combinereducers example has high overhead"
When used with immutablejs as described in the readme, combineReducers looks like it might suffer from high overhead because each time you call the setState method, immutablejs will create a new copy of the store. It would be more efficient if the mutations were batched with the immutablejs method withMutations. (basically the provided combinereducers but with the main block wrapped by "withMutati

[2016-05-15 07:08] bdwain commented on #51
I just realized that the package doesn't export isLoop, so it could be hard to write this. i'll make a PR to export it

[2016-05-15 18:25] bdwain opened #54 "why not allow effects that do not return actions"
I know in the docs it explicitly states that you have to return an action. But would it break the elm architecure if you didn't? That's bascially what none() does. I just tried it and it's trivial to implement.

I can see a lot of scenarios where it makes sense to me to do this, and a subscriber would just be weird. For example, i have an object that can get updated, and when it does I want to tri

[2016-05-16 07:40] bardt opened #55 "How to implement initial data fetch"
If I correctly understand the intention of this library, it is supposed to move decision making as close to reducers as possible. Classic example of React+redux flow is to fetch data needed to render a React component from `componentDidMount` lifecycle hook in the component itself:

[code]

If we try to move this logic inside reducer, we can add `fetchDataIfNeeded` to Effect returned after an acti

[2016-05-16 15:21] joeycadle commented on #54
+1

[2016-05-16 17:04] bdwain commented on #55
i think the code you have (using componentdidmount) makes sense. the component needs the data, so it should be the one that asks for it.

[2016-05-17 09:15] bardt commented on #55
@bdwain, as we are trying to implement more Elm architecture principles around Redux (and redux-loop makes a great job), the view is supposed to be as dumb as possible. If we use some dumber alternative to React without such lifecycle hooks, wich would be the place for such data fetching logic right after store init?

[2016-05-17 14:16] bdwain commented on #55
If you want to do it right after store init you could just dispatch the action manually right after you create the store.

`
const store = createStore(...)
store.dispatch(createFetchInitialDataAction())
`

On May 17, 2016, 4:15 AM -0500, Roman Salnikov<notifications@github.com>, wrote:

[2016-05-17 14:51] bdwain commented on #55
If you want to do it right after store init you could just dispatch the action manually right after you create the store.

[code]

[2016-05-19 05:43] bdwain opened #56 "add batchSerial effect type?"
I've run into a few scenarios where i want to perform multiple effects as a result of a state change, but have then run in order instead of in parallel. Right now, the best option I see to do that is using Effect.call like this

[code]

but you can't reference that function in a test. And while you could export effectFn somewhere so it could be referenced in a test, it could get out of hand quickl

[2016-05-22 00:02] ashtonwar opened #57 "Why is 'Effects' needed?"
`Effects` just seems like a way to obfuscate the API without achieving much. I've defined `loop` like this in my application to remove the overhead:

[code]

Which can be used like this:

[code]

Original:

[code]

Does anyone have any thoughts regarding this revised API?

Should I open a PR & implement it?

[2016-05-23 03:19] bdwain commented on #57
I don't think that api covers the full set of functionality. The readme is a little behind. There are more effect types [here](https://github.com/raisemarketplace/redux-loop/blob/master/docs/ApiDocs.md), and they would get harder to implement without giving them identifiers,

for example, call has the same arguments as promise. Also, nested batches are not supported this way (though you could prob

[2016-05-23 03:30] lukewestby commented on #57
I'm agreed with @bdwain here, explicitly tagging effects allows for more flexibility with how they are handled, allows us to do nested effects via batches and `lift`, and also lets us do sanity checks in development mode so we can be sure the thing you're handing to `loop` is definitely an effect of some kind. I also think of the two usages you posted the one using the current API is more clear ab

[2016-05-23 03:30] #57 closed

[2016-05-23 03:32] lukewestby commented on #56
This is a good idea, I think we should add it. Do you want to submit a PR? Let's not worry about the name for now, we can bikeshed once we've got something that works 😃

[2016-05-23 03:37] lukewestby commented on #54
The way this is usually handled in Elm, especially as of 0.17, is to have a `NoOp` action which effectively does nothing and just returns the state and a `none` effect. You can use the same pattern with redux-loop, and you don't even need to handle this noop action in your reducer -- you can just ignore it completely. This should accomplish what you need without having to special-case effects that

[2016-05-23 03:39] #45 closed

[2016-05-23 03:41] lukewestby commented on #55
@bdwain's suggestion is typically how we handle it at Raise. This let's make use of `dispatch` being modified to return a promise as well, in case you want to wait for your initial data fetch to complete before rendering or doing aything else.

[2016-05-23 03:44] bdwain commented on #54
That definitely works. The main reason I preferred the ability to return nothing was that if I was working with redux dev tools or something, adding a bunch of noop actions seems like it's just polluting the history of my state transitions and adds noise when trying to debug things. And it was super simple to implement. Basically just added .filter(Boolean) to the resolved promise array in effectT

[2016-05-23 07:34] ashtonwar commented on #57
@bdwain Not sure I necessarily understand what `Effects.lift` does. If my understanding is correct `combineReducers` achieves the same thing with the huge advantage that you don't need to introduce any new concepts.

I can't see how the `Effects` API adds flexibility, can you give an example of something that would be harder to do without it?

Only issue is sync dispatch, though this can be fixed

[2016-05-23 07:59] ashtonwar opened #58 "Encourage use of "reducer creators" in documentation"
Without `redux-loop` making changes to the store can be quite painful - for me it meant adding constants, actionCreators, updating middleware AND the reducer. Having to make changes in a bunch of places sucks.

Now I dispatch directly to the store and only worry about the reducer. To shift the power of middleware to the reducer I've started relying on reducer creators which I use like so:

[code]

[2016-05-23 12:31] lukewestby commented on #57
`lift` allows you to nest the resulting action from some effect inside of a higher-order effect in order to arbitrarily compose larger reducers from smaller ones that produce effects. `combineReducers` does not do this.

Any higher-order effects functions like `lift` and `batch` are possible only by having an API with explicit functions. It's only coincidental that the wrapper for `batch` can be j

[2016-05-23 14:08] ashtonwar commented on #57
Acknowledged, to try and understand higher-order effects I imagined two examples where it's impossible to know how many effects you must dispatch until after you've started evaluating them.

1. You have a data structure similar to a linked list, each node contains some data & a promise generator that resolves to the next node.
  * Concatenate all the data & dispatch the result
2. You have an array

[2016-05-23 15:51] lukewestby commented on #56
Actually, I think `Effects.sequence(effects: Array<Effect>)` would be good as it matches nicely against Elm's `Task.sequence`. What do you think?

[2016-05-23 23:18] bdwain commented on #56
i think sequence makes sense.  i'll go with that.

i've had [this implementation](https://github.com/bdwain/redux-loop/commit/692225c54382633ab33ae983a218464ba356c933) in a branch in my fork for a while. (note there's a typo on line 40 in that commit. batch should be serial)

what do you think? i don't see a simple way to turn it into a one liner like the others, since i feel like it needs this re

[2016-06-03 03:20] mocheng opened #59 "Question: What's appropriate approach to do server-side-rendering with redux-loop?"
After involving redux-loop in our code base, we found it is hard to enable server side rendering. The reason is that there is no way to let redux know that some side effect (e.g. API call) has taken place.

Basically, an `init` action is dispatched to store on HTTP request. It has to wait for that action to be fully taken care of before rendering and sending back HTML tags to browser. If side effe

[2016-06-13 05:09] bdwain opened #61 "is it possible to dispatch actions manually from an effect?"
I had some middleware i wrote that intercepts actions and enhances them using getState and dispatch (just like mapStateToProps and mapDispatchToProps from react-redux).

I tried to use these dispatch calls in some of the effects that redux-loop triggered. However, i noticed that the dispatch method that the middleware added to the action did not call redux-loop functionality, so any effects that t

[2016-06-15 13:06] crobi opened #62 "Overhead with effectTypes.NONE"
Every time you dispatch an action with no effects, `redux-loop` creates a new "no-effect" object and starts a promise that doesn't do anything on resolve. Could this be optimized away?

In my application I'm creating ~100 pure (side-effect-free) actions per second, and these empty promises show up in the profile.

[2016-06-16 02:23] akiellor opened #64 "Effects not being executed when multiple dispatches in the same tick"
I've been working with redux loop and have been loving it, although I think I've found a bug where if any dispatch occurs in the same tick of the event loop after a dispatch which creates an effect, the effect will not be executed.

Specifically I've experienced this with redux-form, which will dispatch actions on React lifecycle hooks (i.e. componentDidMount and componentWillRecieveProps).

I'm w

[2016-06-16 08:06] mocheng commented on #59
One more thing that is in-convenient with Loop compared to thunk. Loop cannot have access to `getState`, while thunk can.

[2016-06-21 04:14] bdwain commented on #54
After using redux-loop a bit more in practice, I've started to have some thoughts on how the api could encourage a little more code reuse and simplify a few things.

One issue with forcing effects to return/resolve with redux actions is that the implementations of the side-effects become tied to redux/redux-loop. Suddenly a pretty standard function to make a request, such as this,

[code]

can't b

[2016-06-21 12:57] lukewestby commented on #54
@bdwain yes, let's please start a new issue about making this change

[2016-06-21 14:54] bdwain opened #66 "New Effect API to allow for reusable side-effect methods"
Copied this comment from #54

After using redux-loop a bit more in practice, I've started to have some thoughts on how the api could encourage a little more code reuse and simplify a few things.

One issue with forcing effects to return/resolve with redux actions is that the implementations of the side-effects become tied to redux/redux-loop. Suddenly a pretty standard function to make a request,

[2016-06-21 14:55] bdwain commented on #54
Sounds good. I made #66. Hopefully that will make it easy to implement my original suggestion of allowing side-effects to not trigger an action without having to special case anything. I'll close this for now.

[2016-06-21 14:55] #54 closed

[2016-06-21 15:01] bdwain commented on #66
Additionally, and it could be separate from this, I think it could be useful to allow passing the dispatch method to side-effects. I have a few scenarios where it would be nice if the side effect was able to dispatch an action, without it being the specific action that is the result of the effect.

[2016-06-21 15:30] lukewestby commented on #66
Let's leave passing `dispatch` to effects for another discussion. Feel free to open up another issue about it!

So here are my initial thoughts:

I take your point about wanting to keep actual effects separate from the redux-loop API very well. This is something I've started to notice in code at work too - even when we do have reusable effect functions they still need to be wrapped in an entire ad

[2016-06-21 16:25] bdwain commented on #66
Thanks for getting back so quickly @lukewestby.

I haven't used Elm before, but I like the idea of keeping it in sync for people who have. A few other thoughts...

- Is the from prefix necessary? If they basically all have it, it might be cleaner to just get rid of it.
- FromSync wouldn't need a fail handler (unless it got called due to an exception being thrown. but idk if that's necessary)
- Is

[2016-06-21 16:38] bdwain opened #67 "Allow for passing dispatch to side-effect methods"
It'd be nice if the side-effects could have access to the dispatch method to dispatch arbitrary actions that are not tied to the specific task/cmd/effect they are running at the time.

Here's a scenario where this would definitely be helpful.

I have an API client in my project that all API requests go through. Its main job is to add auth headers to the requests, but the other thing it does is for

[2016-06-21 16:38] bdwain commented on #67
Also this might have conflicts with #66 so i'm happy to reevaluate it after that is done. I think that is a higher priority

[2016-06-21 16:40] bdwain commented on #61
this would be addressed with #67 in a more general manner, so i'll close this.

[2016-06-21 16:40] #61 closed

[2016-06-21 16:43] bdwain opened #68 "What is the status of the deep effect collection branch?"
I was following the [thread](https://github.com/reactjs/redux/issues/1528) that the deep effect collection branch was based on initially and I was interested to see what came of it. Are there any plans to do something like that in master?

[2016-06-22 16:24] lukewestby commented on #68
I tried it out in this branch: https://github.com/raisemarketplace/redux-loop/tree/deep_effect_collection

It seems to work okay, but it's a pretty drastic departure from what redux-loop is intended to be so I'd prefer not to release it here and instead let someone else try to build something effective using that method. In particular, I really like how straightforward it is to test a reducer with

[2016-06-22 16:25] lukewestby commented on #68
I'm going to close this just so I can keep track of the open issues that represent bugs and things that need to be implemented, but we can definitely continue discussion if you'd like

[2016-06-22 16:26] lukewestby commented on #62
This should definitely get fixed. There's no real reason to be creating those Promises other than it was easier to think about when we were trying to get the lib out the door.

[2016-06-22 16:28] #18 closed

[2016-06-22 16:28] #17 closed

[2016-06-22 16:30] bdwain commented on #68
Cool. I was asking more out of curiosity. It sounds good in practice but I agree that having to wrap everything in a call to catcheffects or something like that will make testing more difficult. and testing in the return value is super easy.

[2016-06-22 17:24] lukewestby commented on #66
It isn't, let's leave it off

(We can refer to this as `call` again) we can leave the failure handler off for now and log something to the console if a `call` effect ends up throwing

It is, I apologize. Let's leave it as `Cmd.lift`.

Leaving the failure handler out would make it hard or impossible to detect if the thing in the failure handler's position is an action creator or one of the params.

[2016-06-22 18:12] bdwain commented on #66
Isn't it map in Elm? It'd be nice to have them the same. Though it is confusing to rename it. If you want to get it to have the same name eventually, we could have lift be an alias for map, and put a deprecation notice in for it or something. I don't feel too strongly about the name either way.

As far as the effects that don't return actions, what about having the exact same types, but namespaced

[2016-06-23 15:37] lukewestby commented on #62
This optimization is going to get rolled into the effects API rework discussed in #66

Any time an effect which will ultimately become a no-op is detected it will be ignored entirely. This includes `none`, but also empty `batch`es and `batch`es consisting entirely of `none`s, other empty `batch`es or otherwise no-op effects.

[2016-06-23 16:28] lukewestby opened #70 "server-side rendering strategy"
As a part of redux-loop 3.0 I want to have a solid strategy that can be communicated about how to use reducers that return effects as a means of implementing the initial data fetch for server-rendered apps.

The prior discussions, proposed code changes, and outstanding issues around this to date are:
- #23
- #50
- #55
- #59
- #25

There are two techniques I want to propose to start, my favorite as

[2016-06-23 19:57] bdwain commented on #70
I'll check this out in detail more later and give my thoughts. Though i don't have a lot of experience with server-side rendering

[2016-06-24 07:42] bardt commented on #70
I experimented with server rendering a lot recently. I found redux-loop difficult to understand for my team on scenarios with many async steps, so switched from it right now. But during my experiments I came to alternative approach:

1. Add a reducer to manage effects count in state
2. Dispatch reserved action `EFFECT_STARTED` right before the effect is started
3. Dispatch reserved action `EFFECT_

[2016-06-24 14:59] bdwain commented on #70
@bardt i also found that i sometimes needed pieces of the state tree besides the calling reducer in an effect. i made middleware, https://github.com/bdwain/redux-action-enhancer, to handle that. Basically it lets you enhance actions with values from the state with a mapState function, similar to mapStateToProps. so the action will have everything from the state the effect needs.

[2016-06-25 03:50] bdwain commented on #70
@lukewestby i like the idea of option 1 except the recomendation of an INITIALIZE_APP action, it's kind of a special case action that you need to add support for when you could otherwise dispatch normal actions.

What about recommending to dispatch as many requests as you want, and then just using Promise.all on all of the returned promises.

[code]

[2016-06-27 21:48] lukewestby commented on #66
@bdwain can you share a code snippet as close as possible without revealing IP that demonstrates the use-case for command action creators being optional?

[2016-06-27 21:53] bdwain commented on #66
sure.

[code]

so in my app, we back up auth data to localstorage so that on refresh you are still logged in. so every change should trigger a localstorage update. but after that, i don't have anything else to do.

[2016-06-27 22:03] lukewestby commented on #66
cool. so i mentioned before, but want to revisit that this use case and lots of others could be covered by having a single function `Cmd.arbitrary` or `Cmd.port` or whatever that accepts any function followed by its args and just calls it without caring about what it returns or what the outcome is. For this one it might look like

[code]

if in the future you wanted to also add some sort of loggin

[2016-06-28 05:34] bdwain commented on #66
That's true. I guess I was thinking that you needed one for each command type but I guess if you're not checking the return value then it's just calling the function and that's it.

The only question is what about In a batch (or sequence like we talked about in the other issue). Let's say it was an asynchronous port call. How would the batch know not to dispatch all of its actions until after the

[2016-06-28 05:38] bdwain commented on #66
Also after reading about ports a little I think the name makes sense for this case

[2016-06-30 13:14] ashtonwar commented on #57
Just as an FYI I created [redux-plus](https://github.com/ashtonwar/redux-plus), it has the same effects API described in this issue & adds selectors / dynamic reducers.

[2016-07-01 20:26] #68 closed

[2016-07-05 17:45] tptee opened #72 "Prevent batching of child reducers?"
Hi there,

I have two unrelated async tasks I want to run after a location change. One is quick (geolocation) while the other is slow (loading the Google Maps API). I've noticed that `combineReducers` from `redux-loop` batches all child effects. This means that even though geolocation is finished, its action won't dispatch until the Maps API loads. Is there a way to prevent batching at the top lev

[2016-07-08 21:00] bdwain commented on #66
any thoughts on this @lukewestby

[2016-07-10 20:29] scottnonnenberg commented on #70
Hey everyone. I've been thinking a whole lot about the combintation of error handling and server side rendering with `redux-loop`. My primary concern is that properly-written async action creators, with both a `.then()` and a `.catch()` will never result in a rejected promise. In fact, `install()` really doesn't like it when `Effect` promises are rejected: https://github.com/raisemarketplace/redux

[2016-07-12 14:18] bdwain commented on #70
@scottnonnenberg why does the top level promise need to reject in that scenario. If an async action fails, it should dispatch an action setting some error state, But the whole application isn't really in an error state. Just that part of the state tree. That error can just be handled as normal with redux and react (or whatever you use) and be displayed to the user can't it?

[2016-07-12 14:57] scottnonnenberg commented on #70
While I can see some situations where I'd be alright returning a 200 success with a little error embedded inside the page, that wouldn't be appropriate all the time. I expect some sort of release valve so I can return a non-200 error code and a full-page 'site is not useful right now' error.

Perhaps an option passed to `redux-loop` on `install()`, combined with a certain shape of error actions?

[2016-07-12 18:17] volkanunsal opened #74 "Why doesn't loop() work in "success" actions?"
I noticed the following behavior in `loop(..)`. Given the following:

[code]

The loop in this snippet works:

[code]

This snippet doesn't.

[code]

I wonder if anyone knows why this might be happening.

Edit: When I say "works," I mean that the side effect causing action doesn't get called. In the second case, `ax.loadingComplete` never gets called. I also tried using `Effects.promise` and `Effe

[2016-07-14 12:36] oviava commented on #74
I'm getting the same behaviour ..

[code]

and in my reducer

[code]

[2016-07-16 01:22] yiransheng opened #76 "Monad flatMap/bind For Effects ?"
I have been using redux-loop for a while,  it works great! In my attempt to understand `Effects`, and trying to add a typed mental model to it, I have reach a conclusion that an `Effect` is a stacked Monad of List and Promise (Promises are impure though, a better analogy would be `Task` monad, eg. from [Data.Task](https://github.com/folktale/data.task)).

[code]

With this understanding, one thing

[2016-07-16 02:15] linxiaochuang opened #77 "why the ...state is wrong"
[code]

[2016-07-17 17:22] wuzhuzhu opened #78 "Work with reducers from packages such as apollo stack/redux-form"
Apollo stack has to check apollo reducer in combined reducer, in redux-loop way, reducer is been transformed into immutable way.

When apollo starts it check the apolloReducer and raise an error:

The same problem might happened when using redux-form

[code]
Is there any way to separate the imported reducer to use no immutable way?

[2016-07-17 23:16] lukewestby commented on #77
This doesn't appear to be an issue with redux-loop. It's probably an issue with your babel setup, please report any bugs you're experiencing to that project instead.

[2016-07-17 23:16] #77 closed

[2016-07-18 10:20] vieron commented on #64
Same happening here!

[2016-07-18 15:09] lukewestby commented on #66
I think that all sounds good, I've rethought naming them `port` and `asyncPort`, since those names in Elm are meant to indicate that you're escaping the constraints of the Elm program into JS-land by exiting and entering through a "port". One more thing before moving forward - can you include an example usage where ordering these things is important? I just always like to see the motivation for a

[2016-07-18 15:50] lukewestby commented on #72
For now I'm afraid there's no way around this other than to avoid using `combineReducers` and wire things together manually. I'm going to be looking into this for the next version of the library -- you are not alone in this complaint!

[2016-07-18 15:55] bdwain commented on #72
[This enhancement](https://github.com/raisemarketplace/redux-loop/issues/56) might allow for something like that

[2016-07-18 15:56] lukewestby commented on #67
I think the changes coming with the new `Cmd` API will make this unnecessary. You'd be able to extract that status code logic into a higher-order function and reuse it easily.

[code]

[2016-07-18 16:02] lukewestby commented on #76
Hey @yiransheng, I'm 100% willing to consider this as an addition to the API after getting the new version of the library released ( #79 ) after some further thought and discussion. In Elm, `Cmd`s are functors only and leave off monad or applicative behavior. I would want to spend some time evaluating what the trade-offs are and if it turns out this is a net positive then I'd be happy to include i

[2016-07-18 16:07] lukewestby commented on #72
@bdwain thank you for the reminder!! I'll put that on the list of 3.0 things (#79)

[2016-07-18 18:09] lukewestby commented on #70
@scottnonnenberg can you just inspect some part of the state after finishing your setup effects but prior to responding to the request and use that to set the status code? In my experience with server-side rendering the store will be available and therefor `getState()` at the time you need to call `res.send()`, correct?

[2016-07-18 18:32] bdwain commented on #67
This removes some of the repetition, but it still requires every Cmd that triggers an api request to know about the 401 functionality, instead of centralizing it in one spot. It could easily be forgotten in a scenario like that, which is my worry.

My thought was something along the lines of providing a getDispatch method (or maybe just the dispatch method directly) with something like this.

[cod

[2016-07-18 18:43] lukewestby commented on #78
Can you create an [SSCCE](http://sscce.org/) that illustrates the problem you're having with apollo? I don't see any immediately obvious reasons why the two shouldn't work together but I've never used apollo so I don't know how to reproduce your issue.

[2016-07-18 19:07] bdwain commented on #66
Cool. Are you going to stick with arbitary for now then?

When you say an example of where ordering is important, do you mean for Effect.Sequence? The example i needed it for was writing to localStorage first, and then doing something that depended on the value in storage.

It looks like you adressed this question with your isPromiseLike check.

[2016-07-18 23:19] yiransheng commented on #76
Sounds like a reasonable plan. Let's revisit the issue some time later :) Thanks @lukewestby.

[2016-07-19 00:19] scottnonnenberg commented on #70
@lukewestby Yes, as long as every reducer saves the error on the state. Totally doable.

But I'm interested in creating solutions which don't require others to know anything as they implement their work in a different part of the app. Action creators returning an `error` key conforms to the [standard flux action spec](https://github.com/acdlite/flux-standard-action), easy, no-brainer. The alternat

[2016-07-20 15:25] #64 closed

[2016-07-20 15:35] lukewestby commented on #74
@volkanunsal @oviava it's possible this may have had something to do with #64. Can you try your use-cases against version 2.2.2 and see if the issue is resolved?

[2016-07-20 15:37] lukewestby commented on #66
Let's stick with arbitrary. Do you think being able to optionally return a Promise in an `arbitrary` effect and then detecting that will be sufficient for what you need to do?

[2016-07-20 15:40] bdwain commented on #66
yep i think that will address my concern. if you batch something synchronous then the batch doesn't need to wait for anything to happen.

[2016-07-20 15:41] lukewestby commented on #66
good deal. i think we can close this issue then! 🎉

[2016-07-20 15:43] bdwain commented on #56
i'll get something working for this in a branch of 3.0

[2016-07-20 15:56] lukewestby commented on #56
@bdwain awesome, thank you! i'll have proper merge permissions set up for you by tomorrow at the latest

[2016-07-20 15:58] bdwain commented on #56
awesome. thanks!

[2016-07-21 05:48] tptee commented on #72
I worked around this by "scheduling" actions with Effects.constant and having the child reducers return the actual Effects.promise. Everything runs in parallel without being batched AFAICT. That said, an Effects.parallel without batching would be an awesome thing for 3.0 😀

[2016-07-21 05:50] tptee commented on #72
And I guess making the combineReducers behavior configurable as well...

Also, this library is the bomb, and I'm hoping to contribute soon in the future 👍

[2016-07-21 17:03] lukewestby commented on #72
@tptee i'm hoping to get everything to a place where we can have much more active community involvement very soon. i'm looking forward to your contributions!

[2016-07-26 19:59] volkanunsal commented on #74
Yup, seems to be working. Thanks!

[2016-07-26 19:59] #74 closed

[2016-07-27 11:11] avocade commented on #56
+1

[2016-07-27 18:45] Glavin001 commented on #78
Also experiencing this issue with [Apollo-Client](https://github.com/apollostack/apollo-client). I'll try to make a simple demo reproducing this issue.

[2016-07-27 19:09] Glavin001 commented on #78
Related issue: https://github.com/apollostack/react-apollo/issues/87

Apollo throws the error because `getState` returns an object that does not have `reduxRootKey` (e.g. `apollo`) key: https://github.com/apollostack/apollo-client/blob/d3075a9c3181fa7e10ac290b5a6d3c8e3f291b3d/src/index.ts#L296

[2016-07-29 05:51] bdwain commented on #67
@lukewestby i was also thinking potentially about providing access to the state. Maybe via a Cmd.getState method that is passed in to a side effect method, like the dispatch example above. Basically the same things redux thunk provides to its action creators. I figure this would allow maximum flexibility.

[2016-08-04 04:31] bdwain commented on #51
closed since #53 was merged

[2016-08-04 04:31] #51 closed

[2016-08-05 16:13] bdwain commented on #67
opened #82 to solve this

[2016-08-07 15:40] 0xR commented on #59
Redux loop doesn't seem to solve the prefetching problem. I've been looking at https://github.com/Rezonans/redux-async-connect which does seem to solve that.

As for not having access to state you are returning your side effect from a reducer, a reducer by default has access to state.

[2016-08-07 15:42] 0xR commented on #50
I find I can't get any Effect executed even if I'm not using combineReducers.

My reducer is very basic:
[code]

[2016-08-10 19:16] volkanunsal opened #83 "How to disable the noisy error message?"
Is there any way to disable the error message that starts with `loop Promise caught when returned from action of type `? I have to wade my way through it to find the real errors.

[code]

[2016-08-10 19:36] volkanunsal commented on #83
Also, the message is incorrect. I do have a `catch` block in place. Here is the codepath that produces the error:

[code]

[2016-08-16 19:14] bdwain opened #84 "Possibly set context for cmd method somehow"
it would be nice to be able to set the context of the method that a command runs somehow. The issue i ran into is that I am calling setTimeout in 1 command, returning the id and storing it so that i can later call clearTimeout.

I'd like to have `Cmd.arbitrary(clearTimeout, state.get('timeoutId')`, but that doesn't run clearTimeout in the context of window, which causes an error. So i need a usele

[2016-08-18 07:50] mauron85 opened #85 "Suggestion: single batch action after all effects are resolved"
Currently batch(effects) is dispatching the resulting actions once all effects are resolved.

Proposal:
In addition to sending invidual actions when effects are resolved, also send one single action after all effects are resolved.

Motivation:
Imagine you have collection (list) of items you want to refresh all at once, but they don't have API to do it in one request so you need to invoke API reque

[2016-08-19 09:03] falltodis opened #86 "Symbol Support"
![image](https://cloud.githubusercontent.com/assets/7006864/17804551/bc0f6ea8-662e-11e6-8d1b-fa7658d51c02.png)

Android4.0  Start with this problem.How can I fix it

[2016-08-23 07:12] hasseio commented on #86
`npm install es6-symbol --save`

and then at the top of your index.android.js

`import 'es6-symbol/implement';`

[2016-08-24 09:46] falltodis commented on #86
@hasseio 3ks

[2016-08-24 09:46] #86 closed

[2016-08-29 06:22] bdwain commented on #85
why not just add an Effects.constant at the end of the array passed to batch?

[2016-08-29 08:53] mauron85 commented on #85
@bdwain that is actually great advice. Will try that.

[2016-09-05 22:03] OliverJAsh opened #87 "Questions"
Hi there! I wanted something exactly like this but I hadn't heard of redux-loop until after I had a go building something of my own: https://github.com/OliverJAsh/redux-reducer-effects/blob/master/src/main.ts

I have a few questions:
* Could this project achieve parity with the Elm API? E.g. `Task`s and `Cmd`s, like I tried to achieve in my project?
* One concern I have is how to make `Effects.pro

[2016-09-06 01:49] lukewestby commented on #87
Hey there! I've been super awful about maintaining this project the last several weeks (as folks like @bdwain can probably attest) but parity with elm 0.17 is definitely planned. See #79 for what's been done so far. My plan is to get moving on this again after elm-conf next week and get @bdwain and others more involved so that progress can be made on this project without blocking on me.

WRT TypeS

[2016-09-06 08:34] OliverJAsh commented on #87
Thanks for the fast reply!

I had a go at getting the redux-loop README example up and running using TypeScript 2 with all its goodness (no implicit any, no implicit returns, strict null checking). I think I've got something that's type safe at https://github.com/OliverJAsh/redux-loop-test/blob/master/src/main.ts. The typings can be found at https://github.com/OliverJAsh/redux-loop-test/blob/maste

[2016-09-06 18:22] OliverJAsh commented on #87
I converted my example project into a real Redux enhancer, see what you think: https://github.com/OliverJAsh/redux-reducer-effects/blob/33e03bd7681b25d5a798e5ef3915a927dcfa7ee3/src/enhancer.ts#L26

[2016-09-06 18:41] bdwain commented on #87
@OliverJAsh version 3.0 has some changes in it to be more like Cmds (disclaimer: i haven't used elm, but @lukewestby decided after making these changes that Cmds would be a more appropriate name). But a lot of work has been done in 3.0. The biggest changes are the ones discussed [here ](https://github.com/redux-loop/redux-loop/issues/66)

[2016-09-22 18:42] evinism opened #88 "Allow loop() to accept previously looped items"
### Proposal
I'd love it if I could compose looped state such that
[code]
would be equivalent to
[code]

It would add a lot of syntactical flexibility, especially when I'm writing nested reducers which each have effects, and it seems to be in the same style as the rest of the interface: many methods don't care whether you supply a looped state or just a bare model, why should loop() be any differe

[2016-09-23 00:53] evinism commented on #88
Implemented in: https://github.com/redux-loop/redux-loop/pull/89

[2016-09-26 13:47] Nusinka opened #91 "loop Promise caught when returned from action of type [type]. loop Promises must not throw!"
loop Promise caught when returned from action of type [4] /RECEIVE_PROPERTY.
loop Promises must not throw!
All data I get, but have this error
Did you forget to do one of the following?

- Call `.catch` on a Promise in a function passed to `Effects.promise`

  const asyncEffect = (val) => {
    return api.doStuff(val)
      .then((stuff) => Actions.success(stuff))
      .catch((error) => Actions.f

[2016-09-26 18:40] #91 closed

[2016-09-27 01:53] sdlovecraft commented on #83
I am also confused by this and would appreciate a fix

[2016-09-30 22:35] yiransheng commented on #88
This is a great idea. I have been doing manual `getModel` and `getEffect` to achieve the same goal, but the api proposed here is much cleaner.

However, with the new 3.0 api and the proposed Sequence / BatchSerial Cmd types (see: #81), this might be cause a bit of issue. As there will be at least two ways of combining effects: `batch` and `sequence`. For instance:

[code]

vs (using newly introduc

[2016-09-30 23:37] evinism commented on #88
Yeah, this is definitely a concern I was thinking about, and I'm throwing a wild guess that it's the reason nested loop hasn't been implemented. If loop was ever nestable, I think the least surprising thing would be for it to batch, and in the case you need some other multi-effect mechanism, you could batch it manually. Not super clean, but totally workable and probably appropriate in most cases.

[2016-10-01 00:37] yiransheng commented on #88
Here's a couple of ideas to address this I have came up with:

1. A third optional argument to `loop`, example:
[code]

2. A higher order function/decorator on top of `loop`

[code]
`sequencify` can be further abstracted out to take `combiner` as an argument, as an "ehancer" of `loop` - it can do things like drop original effect/cmd, implement retry and such.

Option number 2 can be used on top of

[2016-10-01 04:15] bdwain commented on #88
I don't think this change needs to worry about the sequence change. That change was made assuming that nested cmds are still batched. So I think it's safe to assume batch for this too.

On Sep 30, 2016, 7:37 PM -0500, Yiran Sheng <notifications@github.com>, wrote:

[2016-10-04 21:29] Arbolista opened #92 "Catch does not catch error"
I've been using this library for a few months. I like it a lot, but one thing that has escaped me since I started using it, is that when I make an API call and update Redux state with the response, if there is a React error related to that update, my catch statements do not work.

For instance (I'm using [redux-act](https://github.com/pauldijou/redux-act) action creator functions):

[code]

[code]

[2016-10-04 21:46] bdwain commented on #92
I'm a little confused by your code, though I also am not familiar with createReducer. I don't see any default value for the state, so the first call to it seems like it will return undefined state, which redux does not allow.

Also, you're using Effects.promise incorrectly. The promise it returns must be resolved with a redux action, even on failure (the action will probably indicate some error, b

[2016-10-05 16:16] Arbolista commented on #92
@bdwain Thanks I appreciate your prompt response.

My gist was sloppy. I'm using redux-action action creators (when called they return action object) - i updated gist accordingly.

[2016-10-05 20:09] evinism commented on #88
For a little more concrete of an example, consider browsing through a list of images wherein we'd want to perform some sort of preloading triggered on either showing an image or destroying an image.

This branch allows for native composition of state transformations with side effects (far less verbose):
[code]

versus:
[code]

[2016-10-11 04:24] sdlovecraft commented on #83
Hey guys! I am also experiencing this. redux loop is often giving me noisy error messages that do not give me accurate information about what's actually going wrong. I sometimes end up having to search through my whole code base to figure out what is going wrong.

For example, I have accidentally mis-spelt my `this.goToRegisterPage(dispatch)` (it should be `this.goToRegistrationPage(dispatch)`

[c

[2016-10-15 00:01] zachrnolan opened #94 "Help with Testing"
I'm trying to follow along with the testing section in the documentation, but can't seem to get it working properly. Does anyone have any example apps with tests written for redux loop?

I'm calling an action that will kick off an Effects.promise in the reducer and I'm not seeing the state change at all. When I do a deepEqual it gives me the exact same state with this appended to the end:

[code]

[2016-10-20 17:38] #23 closed

[2016-10-20 17:38] lukewestby commented on #50
This will be figured out in the next version

[2016-10-20 17:38] #50 closed

[2016-10-20 17:39] lukewestby commented on #55
I'd like to push this off as a task for version 4.0 or 3.1 or whatever it ends up being

[2016-10-20 17:39] #55 closed

[2016-10-20 17:40] #56 closed

[2016-10-20 17:41] lukewestby commented on #58
I think this might be outside the scope of what I want people to learn from using redux-loop. They can arrive at this pattern on their own, and if you want you can package your pattern up into a separate library and I'd be happy to take a look and consider recommending it in the docs

[2016-10-20 17:41] #58 closed

[2016-10-20 17:42] #59 closed

[2016-10-20 17:42] lukewestby commented on #59
This is something we'll figure out in a later version

[2016-10-20 17:43] lukewestby commented on #62
I'm pretty sure this is now handled by the next version

https://github.com/redux-loop/redux-loop/pull/95

We'll be sure all the necessary optimizations are there before doing a final release

[2016-10-20 17:43] #62 closed

[2016-10-20 17:43] #67 closed

[2016-10-20 17:43] #70 closed

[2016-10-20 17:45] lukewestby commented on #72
I'm thinking of removing `combineReducers` altogether so this may not end up being an issue going forward

[2016-10-20 17:45] #72 closed

[2016-10-20 17:46] lukewestby commented on #76
@yiransheng redux-loop will be equipped with a proper `Task` type in the next version which is a monad with `chain` and `chainError` functions. You can use it to compose things the way you want and then perform that resulting task to get a `Cmd`

https://github.com/redux-loop/redux-loop/pull/95

[2016-10-20 17:46] #76 closed

[2016-10-20 17:46] lukewestby commented on #78
Let's figure this out after the next version is released if it's still an issue

[2016-10-20 17:46] #78 closed

[2016-10-20 17:47] lukewestby commented on #83
This should be better in the next version, coming soon!

[2016-10-20 17:47] #83 closed

[2016-10-20 17:48] lukewestby commented on #84
I don't think this will be an issue going forward with the new API but in that case it seems like you could just do `window.clearTimeout.bind(window)`

[2016-10-20 17:48] #84 closed

[2016-10-20 17:48] #85 closed

[2016-10-20 17:50] lukewestby commented on #87
@OliverJAsh I took your advice along with some others and redux-loop is going to include its own `Task` API. I expect type safety is something that wouldn't be too difficult to add on later but I want to get things released first before worrying about it

Check out the changes at https://github.com/redux-loop/redux-loop/pull/95

[2016-10-20 17:50] #87 closed

[2016-10-20 17:50] #88 closed

[2016-10-20 17:51] lukewestby commented on #92
This shouldn't be an issue the next version

[2016-10-20 17:51] #92 closed

[2016-10-20 17:52] lukewestby commented on #94
Can you share your reducer? It'll be easier to tell what might be going wrong

[2016-10-20 18:42] ashtonwar commented on #58
@lukewestby I already created a library when this issue didn't receive any responses: [redux-plus](https://github.com/ashtonwar/redux-plus)

[2016-10-21 20:07] volkanunsal opened #96 "A failure in an async effect blocks other async effects from executing"
I would expect the asynchronously executed actions to be non-blocking in case any one of them encounters an error, but this is not the case here. In code  example below, I noticed that an error in `loginAsync` will block `loadVendorAssetsAsync`.

Is there something I'm missing here?

[code]

[2016-10-21 20:48] thewillhuang opened #97 "Docs"
where can I find the docs?
https://github.com/redux-loop/redux-loop/blob/master/docs/ApiDocs.md is 404

[2016-10-21 21:08] thewillhuang commented on #97
nvm looks like its still work in progress

[2016-10-21 21:08] #97 closed

[2016-10-28 17:04] yiransheng commented on #76
Thanks @lukewestby for the good work, new API looks great!

[2016-10-28 18:27] chrisbolin opened #98 "Where did the docs go?"
It appears that the docs aren't available on github anymore - did I miss something?

P.S. I love the work y'all have done with redux-loop! Thanks for putting it out there :)

[2016-10-28 18:29] chrisbolin commented on #98
This commit removed the docs... https://github.com/redux-loop/redux-loop/commit/d49d7b8b3f949474269abdb414160a9b31efc16e

[2016-10-29 21:00] lukewestby commented on #98
oh shoot! i'll put a link in the current readme to the pervious version docs. thanks!

[2016-10-29 21:02] lukewestby commented on #94
Closing until we get some more information

https://github.com/redux-loop/redux-loop/blob/master/CONTRIBUTING.md

[2016-10-29 21:02] #94 closed

[2016-10-29 21:06] lukewestby commented on #98
Added to the README

[2016-10-29 21:06] #98 closed

[2016-10-31 18:08] mauron85 commented on #29
Hi @lukewestby. I know this is old thread, but is it possible to dispatch action from middleware and in return trigger effect in reducer? I've tried, but it effect is not handled until some other action occured.

[code]

[code]

join action
[code]

The problem is that although join action is triggered by middleware, effect SOCKET_JOIN_ROOMS is not until some next action is trigger (user click, ...

[2016-11-01 15:38] unformatt commented on #98
my 2 cents: It'd be nice to have examples, etc at the main README/url: https://github.com/redux-loop/redux-loop/

[2016-11-01 16:44] lukewestby commented on #98
@unformatt we'll put them in as a part of finishing the 3.0 release

[2016-11-02 17:10] mauron85 commented on #29
@lukewestby I've investigated bit. It's not bug of redux-loop. It's just it isn't ready to trigger actions/effects from middlewares.

Let's imagine you have store enhancers/middlewares registered in following order:
[code]

And if you try to dispatch action from `primusMiddleware` (which in turn creates effect in reducer). That effect will be added int `currentEffect` batch, but will not get execu

[2016-11-04 04:56] lukewestby commented on #29
@mauron85 something we're going to try in the next release (currently in alpha) is having `install` wrap all the other enhancers so that we can guarantee everything is set up before redux-loop gets involved, so this might help.

Something to note though is that `Effects.call` is going away in favor of a simpler, more generalized API. I'm gonna think through how to accomplish your usecase with the

[2016-11-04 05:21] lukewestby commented on #29
Okay, so I what I would recommend is to not deal with a middleware at all. I actually think application-level middlewares (as opposed to library ones like redux-saga) are not a good idea. Using the new 3.0.0 API here's how you would do this:

**primusManager.js**
[code]

**configureStore.js**
[code]

**reducer.js**
[code]

This lets you keep your management of the socket states completely separate

[2016-11-04 05:21] #29 closed

[2016-11-04 08:13] mauron85 commented on #29
@lukewestby this looks great. Definitively need to accelerate migration to redux-loop@3.
Hopefully last and kind of noob question, but I'm still not into this new elm style of Ports and Cmds.

In `primusManager.js` I see method **connect**. Does it allow to delay connect until some external (primus) library is loaded?

Maybe I'll add some code to get the idea, what I'm trying to achieve.

This my

[2016-11-04 12:45] mauron85 commented on #29
Adding reference to my comment in redux thread. May be beneficiary.

https://github.com/reactjs/redux/issues/1051#issuecomment-258420840

[2016-11-04 21:17] mauron85 opened #99 "How to achieve Effects.call or constant in redux-loop@3"
Sorry for posting question here rather than stackoverflow, but the tag redux-loop is not available yet.

I'm trying to migrate to redux-loop@3 and there is no Effects.constant or Effect.call. According to release announcement

But didn't figured out how can I migrate following reducer. It creates new effect by calling action **connect**.

[code]

[code]

Advice is very welcome here and hopefully i

[2016-11-04 22:40] lukewestby commented on #99
You can quickly replace `Effects.call` with `Task.succeed(url).perform(connect)`. However, I recommend refactoring your app's logic over time to eliminate the use of `Effects.call` or this replacement. We found that `Effects.call` leads to unmaintainable trails of inappropriately coupled reducer branches, which is why I decided to remove it.

[2016-11-04 22:41] #99 closed

[2016-11-18 09:30] chris-goodchild commented on #96
@volkanunsal - this behaviour seems the same as `Promise.all` which rejects if any error occurs. Would the answer here be to just use separate action handlers for each async operation instead of batching?

[2016-11-18 14:09] volkanunsal commented on #96
@chris-goodchild Maybe, but I'm not using this library anymore because issues like this make it hard to reason about my program. Plus, it's been so hard to get a helpful reply from the maintainer in the past six months I've been using it. At any rate, I've switched to using the [function-tree](http://www.christianalfoni.com/articles/2016_09_11_The-case-for-function-tree) pattern and [library](http

[2016-12-05 07:49] omidfi opened #101 "using redux dev tool"
Hi,
I'm trying to add redux dev tool alongside this and can't figure out how to do it.

The dev tools doc asks to change this:

[code]
with:
[code]

However with redux-loop our createStore looks like this:
[code]

Redux is new to me so my question might hurt your eyes, sorry :)

[2016-12-07 21:01] sebinsua commented on #101
From the [`redux`](http://redux.js.org/docs/api/createStore.html) docs:

Therefore, you will want something like this:

[code]

[2016-12-08 11:07] omidfi commented on #101
Thanks a lot @sebinsua it solved my problem

[2016-12-08 11:07] #101 closed

[2016-12-18 19:58] justin808 opened #103 "Any explanation of how "model" and "state" are used in the APIs"
It seems that "model" and "state" could be used interchangeably with some the naming of the API methods.

[2016-12-24 20:14] #96 closed

[2016-12-30 07:17] jampy opened #104 "better introduction please"
For those not familiar with Elm (like me), could you please describe (and provide an example) how this works, so that no prior Elm knowledge is necessary?

Would be a good addition to the README.

[2017-01-03 23:01] ttmarek commented on #104
Agreed. Just an example would go a long way.

[2017-01-04 03:05] lukewestby commented on #104
I'm currently working with another developer to try and move the Elm concepts to the background in both the API and the documentation in order to make things more approachable to folks who are familiar with Redux but maybe not Elm. When 3.0.0 is finalized there will (hopefully) be no need for an explanation of how Elm fits in

[2017-01-05 02:10] jtomaszewski commented on #104
Cool! The lib looks very interesting and we're thinking about picking it in our next project.

Any ETA of finalized v3?

[2017-01-08 17:55] franzejr commented on #104
I also would like to know any ETA about V3. :)

[2017-01-17 19:04] kirkstrobeck opened #105 "Redux Saga and Loop"
http://stackoverflow.com/questions/41704984/redux-saga-and-loop

[2017-02-08 15:04] kachkaev commented on #104
I'm also confused. Found this repo after some experience with thunk and saga and wanted to know why I should consider `redux-loop` instead of those. But struggled to understand anything and found this issue in the end.

An clear entry point into the suggested approach seems missing indeed.

[2017-02-10 09:19] RomeroDiver opened #107 "[Question] Explain lift"
Hi,
I can't seem to understand what **Effects.lift** is for? Could anyone explain on a kind of real-life example?

I would greatly appreciate that, thanks!

[2017-02-13 19:25] MichalZalecki commented on #105
Isn't that like trying to integrate `superagent` with `axios`? You could write an adapter as saga's actions are easy to differentiate but I don't think that this is problem on which maintainers should focus.

[2017-02-13 19:55] MichalZalecki opened #108 "Active development and contribution"
Hi, I enjoy `redux-loop` and as we're using it in one of the production projects I'd like to discuss some changes. I'm interested in contribution making loop actions easier to test (e.g. implementing effect as Setoid to reduce test's boilerplate). Is the project still under active development, can I read about foundation for `v3`?

[2017-02-19 15:01] dabit3 opened #109 "Cannot read property type of undefined"
I'm using 3.0.0-alpha.1

[code]

[code]
<img width="373" alt="screen shot 2017-02-19 at 8 57 29 am" src="https://cloud.githubusercontent.com/assets/1857282/23103525/eb500bb2-f681-11e6-8ad7-dbbcc30c334d.png">

Any ideas about why this may be not working for me? Thanks.

[2017-02-28 08:55] quarryman commented on #107
The same question. Effects.lift probably needs a good example of usage to get the idea of why should one want to take affect from nested action in order to apply it to higherOrderAction.

[2017-03-01 09:25] hannupekka commented on #56
Any idea when this will be implemented?

[2017-03-09 17:57] lukewestby commented on #108
Hey @MichalZalecki, the upcoming changes are in #110

Just to provide you with some background, we're backing off the very FP stuff that we started in on for v3 and instead simplifying and stripping things down. That said, I think this is a good idea even if in the docs we just say that there's an `equals` function on the `Effects` type and in a footnote we can mention fantasy-land compliance with

[2017-03-09 17:59] lukewestby opened #112 "3.1.0 Ideas"
- #108 - Implement `equals` for Effects so people don't have to mess around with their own deep-equality checks in tests. (Should obey [Setoid](https://github.com/fantasyland/fantasy-land#setoid) laws)

[2017-03-09 18:00] cpeddecord commented on #108
@lukewestby thanks for the update! <3 this lib.

[2017-03-09 18:02] lukewestby commented on #108
@cpeddecord you're welcome! i'm excited that things are going to move forward after a little stagnation. there's been a sudden uptick in interest from various companies and individuals and i'm thankful to all of them for the effort they have put in.

[2017-03-09 18:02] #108 closed

[2017-03-09 18:04] lukewestby commented on #109
@dabit3 i'm not totally sure but rather than working through it i need to recommend that you go back to the 2.x version and stick with the `Effects.promise` function. we've decided to drop all of the extra stuff that is in the alpha and 3.0.0 api is going to be very similar to 2.x

See all of the coming changes in #110

[2017-03-09 18:04] #109 closed

[2017-03-09 18:12] lukewestby commented on #107
Agreed! New work is being done in #110 and we'll make sure there are good docs and an example by the time 3.0.0 gets published.

In the mean tine I can offer a quick example here. The gist is that if `combineReducers` is giving you a headache (and so you are aware it is being removed in the next version) you can still nest your reducers for a particular property in a larger state object. When you

[2017-03-09 18:12] #107 closed

[2017-03-09 18:16] lukewestby commented on #105
@kirkstrobeck i'm afraid this is a common difficulty that people have when using multiple enhancers more broadly than just redux-loop. unfortunately I won't be able to fix this as a redux-loop-specific thing but i can offer the advice of trying to play with the order of your enhancers in createStore, even if it means you need to call `applyMiddleware` more than once. see if it works with redux-loo

[2017-03-09 18:16] #105 closed

[2017-03-09 18:20] lukewestby commented on #104
All of these pedagogical concerns will be addressed before officially releasing 3.0.0. In the mean time you can see what we're doing in #110, although I would ask that any comments be limited to technical concerns with thorough reasoning about the implementation as it is at that time rather than suggestions about features you want to add or general differences of opinion.

However, after you take

[2017-03-09 18:20] #104 closed

[2017-03-09 18:21] lukewestby commented on #103
@justin808 a very, very good point. we'll make sure not to do this while completing the docs for the next version. thank you!

[2017-03-09 18:21] #103 closed

[2017-03-09 19:21] bdwain commented on #112
Passing action creators to Effects (like the Cmd implementation we came up with here https://github.com/redux-loop/redux-loop/issues/66)

[2017-03-09 20:55] MichalZalecki commented on #108
@lukewestby Sounds good, great to see the project's moving forward!

[2017-03-14 11:46] nhducit opened #113 "Master branch don't have docs folder"
Is `docs` folder is exclude by intend?

[2017-03-15 03:50] lukewestby commented on #113
the master branch is in sort of an in-between state while work through the v3 api. in the mean time the v2 docs are at https://github.com/redux-loop/redux-loop/tree/v2.2.2/docs

[2017-03-15 03:50] #113 closed

[2017-03-21 13:37] durkiewicz opened #115 "Type definitions for TypeScript"
Thank you for a great library!

I'm interested in using `redux-loop` in TypeScript and I would be able to write type definitions that match this documentation: https://github.com/redux-loop/redux-loop/blob/3.0/docs/ApiDocs.md

Would you be interested in accepting a pull request with type definitions?

[2017-03-27 18:11] lukewestby commented on #115
These are already implemented in #110 and will be coming soon. Thanks for offering to work on them though!

[2017-03-27 18:11] #115 closed

[2017-03-28 17:46] lukewestby commented on #112
@bdwain i just pushed up a commit to add a `catch` function to effects, so now you can get this functionality by combining `map` and `catch`

[code]

[2017-04-13 18:10] mboperator opened #116 "Thanks!"
Hey!

I just wanted to drop a quick thank you here for this phenomenal side effect library. We're using `redux-loop` in a huge number of our production applications at [Procore Technologies](https://www.procore.com/) and I've personally found it to be superior to `redux-sagas` when it comes to scaling side effect complexity.

So thanks again for the amazing work. Looking forward to v3.0. Let me kn

[2017-04-13 18:12] mboperator commented on #116
Also I'm looking at the new docs and I love how you've simplified the API to just `map` and `fromLazyPromise`. I'm not a huge fan of the method name `fromLazyPromise` though.

I understand that it's explicit but after a developer implements it once it becomes kind of a handful to type.

[2017-04-14 03:04] lukewestby commented on #116
Hey! Thank you so much for the kind words. I love when people let me know where they're using it, it's inspiration to keep things moving! I actually have a day off tomorrow from regular work so I'm going to be writing documentation for v3 and then preparing the release.

We actually moved a little bit past `fromLazyPromise` in the new setup. As of the official release API there will be one functio

[2017-04-14 03:04] #116 closed

[2017-04-20 20:39] iamwilhelm opened #117 "Just curious when 3.0 is going to be released"
I'm just curious when 3.0 is going to be released (If there's even a date). I'm currently using typescript, and would like to be able to use redux-loop.

[2017-04-21 22:26] ashishsc commented on #117
I also am curious on the current status, not to pester because I know all the hard work @lukewestby puts into the open source and Elm community. I'm hoping to get loop in place of thunk next week so I can teach my team the benefits of Elm style programming (and hopefully, eventually convince them to prototype using Elm).

[2017-04-23 19:12] ashishsc opened #118 "No readme on npm"
Hello there,
I know that you guys are working on the 3.0 release, but I'm a little confused which set of documentation I'm supposed to be looking at.

https://www.npmjs.com/package/redux-loop has no README right now and the neither the examples in the  examples directory nor the example inline in the README of the master branch seem to work. What's the recommended way to install / use redux loop?

[2017-04-24 21:26] ashishsc commented on #117
I think this discussion gives a little more insight @iamwilhelm https://github.com/redux-loop/redux-loop/pull/110

Might be worth adding a not to the Readme.

[2017-04-26 15:47] pyros2097 opened #119 "Update npm package as lib is outdated"
I have installed redux-loop 2.2.2 and when I try to import createLoopStore it returns to me an undefined function.
Currently this is what my lib/index.js file shows in the redux-loop node module.,
[code]

[2017-04-26 15:48] pyros2097 commented on #119
Also in the first Quick Example you import createStore instead of CreateLoopStore
[code]

[2017-04-26 15:50] pyros2097 commented on #119
Also wouldn't it be best if you exported a store enhancer instead or overriding createStore like redux-offline does it.

[2017-04-26 16:36] ashishsc commented on #119
You should use the 2.2.2 branch for now. I'm pretty sure the master branch is currently being used at the dev branch, which is what confused me in https://github.com/redux-loop/redux-loop/issues/118 and https://github.com/redux-loop/redux-loop/issues/117

I linked to some discussions in pull requests there. I really don't think the master branch should have the 'potential' release merged in / have

[2017-05-22 03:05] gpsamson commented on #119
@pyros2097 - did you ever get solve this issue?

[2017-05-22 06:11] pyros2097 commented on #119
@gpsamson Nope. I'm using freactal/baobab as my state container instead of redux.

[2017-05-23 18:58] mbassan opened #123 "fromLazyPromise is undefined in server-side node"
Here is my code:

[code]

And here is the error I'm getting:

TypeError: _reduxLoop.Effects.fromLazyPromise is not a function
    at Object.<anonymous> (/var/www/project/src/reducer.js:32:21)
    at Module._compile (module.js:571:32)
    at loader (/var/www/project/node_modules/babel-register/lib/node.js:144:5)
    at Object.require.extensions.(anonymous function) [as .js] (/var/www/project/node_m

[2017-05-24 04:10] jcheroske opened #124 "Are folks using this with prism? How do I scope actions in redux-loop?"
I've spent the last few days experimenting with the `prism` library. I'm really liking the concept of composing action types. I'm wondering if anyone here has experience using both `redux-loop` and `prism` together. If not, does redux-loop offer a way to compose actions as well?

[2017-05-25 10:51] MichalZalecki commented on #124
@jcheroske Have you hit any wall when trying to integrate `redux-loop` and `prism`? `redux-loop` is focused on "purifying" side effects not how you model your state.

[2017-05-25 10:57] MichalZalecki commented on #123
Are you using `2.2.2`? What's your build process?

[2017-05-25 19:25] jcheroske commented on #124
No, haven't even used redux-loop yet. But I'm trying to put the pieces in place to have a true fractal architecture, and I'm at the point of choosing a side effect lib to work with my prism implementation. With prism and some modifications, I now have the ability to create component/reducer modules that are scoped in both state and action, allowing for what seems to be good reusability so far. But

[2017-05-25 20:30] MichalZalecki commented on #124
If your solution requires some deep integration it can be easier to write your own middleware as a compatibility layer. It's [quite simple](http://michalzalecki.com/reduce-side-effects-in-react-redux/#middleware-and-room-for-improvement). All in all prism helps you to create scoped reducer which still should be able to return both state and effects so you should be fine.

[2017-05-29 13:15] ercpereda opened #125 "Error in Quick Example of README"
In the Quick Example section of the README says `import { createStore, Effects } from 'redux-loop';` instead of `import { createLoopStore, Effects } from 'redux-loop';`

[2017-05-29 13:32] ercpereda commented on #125
Seems like I got the wrong version of the library.

[2017-05-29 13:32] #125 closed

[2017-06-01 16:50] DimatiBart opened #127 "Readme.md is outdated"
Nuff said. Trying to use redux-loop, and can't find any examples of usage. Npm readme is missing, and even readme in the master branch of this repo is 50% useless. And after couple of hours I found out that the only good doc is in 3.0 branch. Could you guys please update the readme or even merge the master with 3.0?

[2017-06-02 03:34] timkendall commented on #127
Yeah it's too bad, this is a pretty sweet project. Just seems like it's fallen behind a little. Maybe the core contributors have fully moved on to Elm :)

In any case, @lukewestby would love to help out if there were some like "required-for-3.0-official-release" issues we could knock out.

[2017-06-14 23:13] ashishsc commented on #127
I would be happy to help get this project going again, @lukewestby is there anything that we can do to help move things along?

[2017-06-22 06:38] ashishsc commented on #117
Do any of the other contributors have any updates on the current state / recommended version to use? @gyzerok ? Sorry to pester

[2017-06-22 21:45] vvinton opened #128 "redux-promise and redux-loop"
Folks,

redux-promise middleware and redux-loop does not look work seamlessly together. After invoking an effect, getting Promise when expected to have resolved promise.

Here is install:
[code]

Here is call:
[code]

Here is the result:

![image](https://user-images.githubusercontent.com/2598068/27457346-13c3e258-57ad-11e7-9790-6056b1b95107.png)

Can you please help me understand how to possible

[2017-06-30 08:02] vvinton commented on #128
Small update on this one - I tried to set up Saga and listen to action raised from loop Effect. Saga was not able to capture it.

It looks like Loop does not tolerate middleware installed.

[2017-07-12 01:17] bdwain commented on #117
Hi @iamwilhelm and @ashishsc

Sorry it's been so long since you've heard back. I'm going to be taking over maintenance of redux-loop. I'd like to get an update out in the next few days.

I know there have been a few proposed API changes in the last year. I've been using a fork of one those proposed version 3's for a while in projects that I've worked on (https://github.com/bdwain/redux-loop). I'd

[2017-07-12 01:25] bdwain commented on #119
Hi everyone.

Sorry it's been so long since you've heard back. I'm going to be taking over maintenance of redux-loop. I'd like to get an update out in the next few days.

I know there have been a few proposed API changes in the last year. I've been using a fork of one those proposed version 3's for a while in projects that I've worked on (https://github.com/bdwain/redux-loop). I'd like to make tha

[2017-07-12 01:26] bdwain commented on #118
I'll definitely update this. Thanks!

[2017-07-12 01:28] bdwain commented on #123
hi @mbassan and @MichalZalecki

Sorry it's been so long since you've heard back. I'm going to be taking over maintenance of redux-loop.

fromLazyPromise is from a version of redux-loop that was never released. The current documentation is not in sync with the latest npm version. I'd like to get an update out in the next few days that will get them back in sync and up to date.

There have been a fe

[2017-07-12 01:29] bdwain commented on #127
Hi everyone.

Sorry it's been so long since you've heard back. I'm going to be taking over maintenance of redux-loop. I'd like to get an update out in the next few days.

I know there have been a few proposed API changes in the last year. I've been using a fork of one those proposed version 3's for a while in projects that I've worked on (https://github.com/bdwain/redux-loop). I'd like to make tha

[2017-07-12 01:35] bdwain commented on #124
Hi @jcheroske

Sorry it's been so long since you've heard back. I'm going to be taking over maintenance of redux-loop. The first thing I want to get is get an update out and get the documentation up to date with the latest version on npm. After that, I'd be happy to work on improving redux-loop's integration with other libraries.

[2017-07-12 01:36] bdwain commented on #128
Hi @vvinton

Sorry it's been so long since you've heard back. I'm going to be taking over maintenance of redux-loop. The first thing I want to get is get an update out and get the documentation up to date with the latest version on npm. After that, I'd be happy to work on improving redux-loop's integration with other libraries.

[2017-07-12 01:50] #112 closed

[2017-07-12 05:59] bdwain opened #130 "Upcoming Changes"
Sorry for the long delay between updates everyone.

I released a version 3.0 that should solve some of the problems with version 2. You can see the details [here](https://github.com/redux-loop/redux-loop/releases/tag/v3.0.0). It's not a huge departure from version 2, and I think it should set us up to make more improvements to the project.

There's still a few things I would like to address quickl

[2017-07-12 06:01] bdwain commented on #118
3.0 is released and has a readme. Thanks again!

[2017-07-12 06:01] #118 closed

[2017-07-12 06:02] bdwain commented on #119
Version 3.0 has been released. Sorry for all of the confusion. Details about the new features (since version 2) can be seen here.

[2017-07-12 06:03] #119 closed

[2017-07-12 06:04] bdwain commented on #127
Version 3.0 has been released. Sorry for all of the confusion. Details about the new features (since version 2) can be seen [here](https://github.com/redux-loop/redux-loop/releases/tag/v3.0.0).

[2017-07-12 06:04] #127 closed

[2017-07-12 06:08] bdwain commented on #117
Version 3.0 has been released. Details can be seen [here](https://github.com/redux-loop/redux-loop/releases/tag/v3.0.0). Sorry again for the delay.

The next thing I'd like to do is get typescript support. #130 keeps track of some of the upcoming changes that are planned, so I'm going to close this in favor of that.

[2017-07-12 06:08] #117 closed

[2017-07-12 06:09] bdwain commented on #123
Version 3.0 has been released. Sorry for all of the confusion. Details about the new features (since version 2) can be seen [here](https://github.com/redux-loop/redux-loop/releases/tag/v3.0.0).

[2017-07-12 06:09] #123 closed

[2017-07-12 07:26] ashishsc commented on #130
I think the question about TS support is whether we should just define typings or rewrite the library in typescript itself. One is larger endeavor than the other obviously.

[2017-07-12 08:11] bdwain commented on #130
I think for now it'd be good to just do typings since that seems to be in high demand and I'd rather not keep people waiting anymore.

I think it's worth discussing if we want to rewrite everything in typescript. I'm not sure I see a big benefit from it. But I don't have much experience with it so I'd be interested in hearing other peoples' opinions.

[2017-07-12 17:41] ashishsc commented on #130
I agree that we should just do the typings in the short term. The benefit of a typescript rewrite are the same as any project: it eliminates having to

- maintain a seperate typings file (I would hope)
- write classes of unit tests checking for the correct type since the compiler will catch these

And in addition, it will make it easier for us to
- refactor the codebase in the future
- have new de

[2017-07-12 18:06] bdwain commented on #130
that makes sense. well i guess if we are going to rewrite the tests and build process anyway, may as well do full typescript conversion before we do those.

[2017-07-13 01:58] ashishsc commented on #130
For reference:
https://www.typescriptlang.org/docs/handbook/declaration-files/introduction.html

I'm going to read this tomorrow

[2017-07-13 05:37] gyzerok commented on #130
There was already new API fully rewritten in TypeScript. I suggest to use it, because it simplifies library quite a lot and got a lot of thought in it. It was planned as 4.0.

[2017-07-13 06:28] MazeChaZer commented on #130
@gyzerok I am currently using that API in my TypeScript project, works great :+1:

[2017-07-13 07:52] bdwain commented on #130
I know there were plans for a few different rewrites of the API, but all of them were pretty drastic and would have required existing users to completely rewrite what they had. Since they were never published to npm, I thought it would be best to release a less drastic change so that existing users of the latest published version had a clear migration path. I also think the version that I released

[2017-07-13 08:02] gyzerok commented on #130
Yeah, I see what you mean. That do definitely make sense.

Next major release could contain breaking changes. The idea behind TypeScript rewrite was to provide the bare minimum API. Then the development could be done in a way heavily inspired by Elm. Put a lot of thought into changes and see if it does really make sense to make API larger.

Also one of the ideas was to move away from Elm-specific

[2017-07-13 08:25] bdwain commented on #130
Yea i agree about focusing on making this clear to non-elm users, since the elm users will be fine either way. Though I think the name Cmd is fine as long as we explain it in as much detail as we would if we called it something else. It just has the added benefit of being especially easy to pick up if you are familiar with elm.

One thing i've been thinking about to ease the migration more to v3 i

[2017-07-13 16:35] ashishsc opened #131 "Add Redux Devtool support"
It would be great to add support for https://github.com/gaearon/redux-devtools. Being able to see the effect deployed and have autogenerated tests would be nice.

[2017-07-14 21:08] bdwain commented on #131
that would be cool. how would it display? just the name of the function called? and the parameter values passed to it? and maybe type of Cmd?

[2017-07-15 18:10] ashishsc commented on #131
Yep exactly like that is what I was thinking.

[2017-07-15 22:10] icopp commented on #130
I'd personally propose replacing the `Cmd.x` functions with individual exports with names like `queuePromise` and `queueDispatch`. Similarly, `Cmd.getState` and `Cmd.dispatch` would probably be better as something like `getStatePlaceholder` and `dispatchPlaceholder`.

On a side note, I'm considering using this in a large Typescript project I'm working on, so if I do I'll be submitting a typings fi

[2017-07-17 04:45] bdwain opened #133 "5.0 Ideas"
The Cmd API released in version 3 was the first attempt at simplifying the API and making effects more reusable. But there are still more improvements that can be made. Let's use this thread to post feedback on the current version and ways to improve it.

- New Cmd types like batch and sequence, except they dispatch resulting actions as they become ready instead of all at once at the end.
- Break

[2017-07-17 04:49] bdwain commented on #130
thank you for the suggestion @icopp. Can you please post it in #133 ? I set up that issue to discuss changes for version 4.0.

For the immediate future I'd like to focus on typescript support and build/test improvements because those are currently preventing people from using the library and contributing to it. Once those are done I think we'll be in a good spot to make a lot of API improvements.

[2017-07-17 06:23] icopp commented on #133
I'd personally propose replacing the `Cmd.x` functions with individual exports with names like `queuePromise` and `queueDispatch`. Similarly, `Cmd.getState` and `Cmd.dispatch` would probably be better as something like `getStatePlaceholder` and `dispatchPlaceholder`.

There's also the issue that `loop` as a name for the function to return is kind of weird, since in the common parlance it's not act

[2017-07-19 04:56] ashishsc commented on #133
I guess at some point we should decide if we want to try and mimic elm's function names or not. Task and Effect? `thunk` ? `schedule` ?

[2017-07-19 05:16] icopp commented on #133
"Thunk" seems like a bad idea, given that in this space it tends to mean `redux-thunk` pretty specifically.

[2017-07-19 15:21] bdwain commented on #133
i'm not married to any particular name, but i'd want to not change them without evidence that Cmd was confusing people or that a new name would be much more clear

[2017-07-26 13:13] ercpereda opened #134 "Cancel async Cmd.run"
Is there a way of avoiding the success action being called? I would like a way of canceling the effect of async call under certain conditions.

[2017-07-26 14:05] bdwain commented on #134
Not directly.

You could check this condition in the reducer where you handle this action and do nothing if the condition is true.

You could also check the condition right before resolving the main promise and add the result to the resolution value, which gets passed to the action creator. Then you could check the value in the reducer from there.

[2017-07-26 14:12] ercpereda commented on #134
Thanks, @bdwain. I thought similar solutions.
I think that the api could add a way to handle this scenario, that would be very helpful.
What do you think?

[2017-07-26 14:14] ashishsc commented on #134
I wonder if its necessary. In the past, I have supported cancelling by just handling it in the reducer like @bdwain suggests. If you really want, you could cancel the promise if using a lib like Bluebird, which should dispatch the fail effect I think.

[2017-07-26 14:22] ercpereda commented on #134
I really don't need the feature. I just wondering if would be useful have it in the api. `redux-loop` is my favorite tool to handle async operations in `redux`, I just want to help to improve the api.

[2017-07-26 14:32] bdwain commented on #134
So the only api change i could think to accomplish it would be to add some optional function that checks if the promise should cancel. but that could just be done from the action creator. like if the action creator was fooSuccess, then do

[code]

i have to check if the action creator is allowed to return null. if not we could change it to do that and just ignore the null ones.

[2017-07-26 14:43] ercpereda commented on #134
@bdwain the problem with that solution is that you still have to cancel your promise by you own, and the api is not helping with that. A way to go could keep track of the `Cmd.run` that are not being resolved yet and add a new `Cmd` to cancel it.

[2017-07-26 14:49] bdwain commented on #134
so you want to be able to cancel any Cmd without the Cmd having to do anything to be cancellable?

how would Cmd.cancel (or whatver) target a specific command?

[2017-07-26 15:04] ercpereda commented on #134
Maybe adding a key option to the command
[code]

[2017-07-27 06:22] bdwain commented on #134
that would be a huge internal change, and still requires you to do something to a Cmd to make it cancellable. if you need to do something anyway, i'd rather wrap the successActionCreator than add a key to each command. It seems to accomplish the same goal without increasing the API's complexity. Is there something that can't be done using that method that they key method allows you to do?

[2017-07-27 12:11] ercpereda commented on #134
I know that is not an easy implementation. It will be very useful in many scenarios. For example, an async autocomplete, even if you use something like debounce, you maybe should want to cancel all the old request before starting the new ones. There is no way to cancel vanilla es6 Promises right now, so you are forcing the user to use something like Bluebird to achieve this in the succesActionCrea

[2017-07-27 14:51] ashishsc commented on #134
fwiw https://tc39.github.io/proposal-cancellation/

cancellation will probably eventually be native. It would be pretty annoying to require that for this though.

[2017-07-27 16:30] ercpereda commented on #134
yes sure, when this be natively supported the `Cmd.cancel` could cancel the Promises as well, in the mean time, it could only ignore the responses of the Promises when they come.

[2017-07-31 05:38] bdwain commented on #134
What i suggested does not require bluebird. It works with vanilla es6 promises. It also has the benefit of requiring few (if any) changes or concepts introduced to the api. I'd rather not introduce a large change to allow you to do something you can already do.

My other worry is that trying to add a key to each Cmd makes it hard to isolate any given reducer.  In order to guarantee your key is uni

[2017-07-31 12:48] ercpereda commented on #134
I don't understand how you can accomplish that with vanilla es6 since there is not way to cancel a promise in es6. Maybe I missed out something in your suggestion.
About the `key` that is the same issue with the `type` of an action, you need to guarantee that the `type` is unique. Also that was only an example another approach can be something like:

[code]

[2017-07-31 14:33] bdwain commented on #134
My thing didn't cancel the promise. It just ignores the response if you update the state to ignore the promise. You can accomplish this by checking the state before resolving the promise and adding a property to the response or by checking the state in the reducer when handling the on success action.

For example, if you had logic to update the status of an item, you could store the current updati

[2017-08-03 06:22] Marswang92 opened #136 "Making originalAction an array to trace effect history"
Shall we provide `originalActions` as an array instead of just the previous action to trace the history of side effect? Also it will provide a way for `redux-logger` to nicely log all the history side effects.

[2017-08-03 14:48] bdwain commented on #136
are you referring to this file? https://github.com/redux-loop/redux-loop/blob/master/modules/errors.js

[2017-08-03 15:55] Marswang92 commented on #136
@bdwain yep but more about the [install.js](https://github.com/redux-loop/redux-loop/blob/master/modules/install.js) file. I've made a rough implementation here

https://github.com/Marswang92/redux-loop/commit/5e1fbfa58db6a2b4b0925a5f8820ede86ae265a7

[2017-08-04 20:56] jon-thompson opened #137 "Improve testability of Cmd objects"
While it's comparatively easier to test reducers with redux-loop than with some other pieces of middleware, I do think it could be improved. Adding and removing specs for `Cmd` objects can sometimes be a little clunky, and some things are just not possible to test without inspecting the (essentially private) members of the `Cmd` object.

Some problems I run into when testing:

### 1. Action creato

[2017-08-05 03:38] farism commented on #115
It looks like a TS rewrite and definition file generator was added at [some point](https://github.com/redux-loop/redux-loop/commit/86d60e225b178134faa5697fcace6d7dec2175bb#diff-b9cfc7f2cdf78a7f4b91a753d10865a2R7) and then [removed later](https://github.com/redux-loop/redux-loop/commit/7578df7f6a64d8b6165e72060fc21efe5bc5f05f#diff-b9cfc7f2cdf78a7f4b91a753d10865a2L7) before 3.0 went out. Is any help

[2017-08-05 06:05] bdwain commented on #115
hi. yes help would be very much appreciated. I've been meaning to learn about typescript more since I have no experience with it but haven't had time yet. We went through a few API changes and the one that was in typescript is not what ended up released so any help in getting typings or converting to typescript would be very much appreciated. Please see #130 for more detail.

[2017-08-05 06:09] bdwain commented on #136
i'm not sure I follow. Each side effect is triggered by a single action anyway. Where does the array of actions come from?

[2017-08-06 04:06] Marswang92 commented on #136
So in my use case there're side effects which are caused by an action which is emitted by another side effects. Use the this repo's example, `Start short increment` is dispatched from the `Cmd.batch` from `Start both increment` and ` Finish short increment` is caused by the side effect from `Start short increment`. It would be quite informative to be able to trace back this whole behavior.

<img w

[2017-08-06 04:13] bigradish opened #138 "Must the "loop" API be given a new state as the first argument?"
Let's take the code on the frontpage as an example:

`import { loop, Cmd } from 'redux-loop';

function initAction(){
    return {
      type: 'INIT'
    };
}

function fetchUser(userId){
    return fetch(`/api/users/${userId}`);
}

function userFetchSuccessfulAction(user){
   return {
      type: 'USER_FETCH_SUCCESSFUL',
      user
   };
}

function userFetchFailedAction(err){
   return {
      t

[2017-08-06 04:22] bdwain commented on #138
you can't use null but you can use the previous state value. That applies to redux in general. When handling an action in a given reducer, if you don't want to change the state, just return the previous state.

[2017-08-06 04:32] bigradish commented on #138
@bdwain Thanks for response.
If the previous state  is used, the code should be:

case 'INIT':
return loop(
state,
Cmd.run(fetchUser, {
successActionCreator: userFetchSuccessfulAction,
faiLActionCreator: userFetchFailedAction,
args: ['123']
})
);

right? Redux may compare the state with the old one to check if they are equal. If the state is large, the overhead may not be ignored. I think it may b

[2017-08-06 16:38] bdwain commented on #138
That code is correct. Redux assumes your state objects are immutable and do not change. http://redux.js.org/docs/introduction/ThreePrinciples.html Changes to the state require you to create a new object with the new state. When your components compare your old and new redux state, they don't do a deep equality check. They do a reference check, which is quick, to see if the states are equal.

[2017-08-07 01:51] bigradish commented on #138
@bdwain Thank you. Yes, the comparing in Redux is by reference, and the overhead is small.
However, I still think it should be better not to let Redux even know anything when I just want to run a command.

[2017-08-07 23:10] bdwain commented on #138
I think it's pretty much accepted practice at this point that to do "nothing" in a reducer you just return the state that was passed to you (because reducers don't "do" anything, they just return the next state.) I suppose we could allow you to just return a Cmd and redux-loop would add back the state if it detected there was no state returned, but that would complicate the library and I think it'

[2017-08-08 04:03] bigradish commented on #138
@bdwain Thank you. There is some overhead in the code of combineReducers.js
 ( https://github.com/redux-loop/redux-loop/blob/master/modules/combineReducers.js ), though not big.

I think the code below can be added to the 37th line of combineReducers.js to implement the feature I said:

if (nextStateForKey === null) {
return mutator(model, key, previousStateForKey);
}

As the "reduce" function loo

[2017-08-08 04:43] bdwain commented on #138
the problem with using null for a returned state to indicate no change is that null is a valid state, and you wouldn't be able to return it anymore if it indicated no change instead of changing the state to null.

i don't think there's any way to avoid running through every reducer that wouldn't break common assumptions about redux's behavior.

[2017-08-08 04:51] bigradish commented on #138
@bdwain Redux state is object, not null, and empty state is represented by {}
Wish you can read your combineReducers.js carefully to see if the iteration-all can be avoided.

[2017-08-08 04:53] bdwain commented on #138
redux state can be null

[code]

[2017-08-08 04:57] bigradish commented on #138
Where is the code from? Why not:
function reducer(state = {}, action){
  if(action.type === 'init'){
     return {the: 'new state'};
   }

   return state;
}

[2017-08-08 05:01] bdwain commented on #138
that also works, but someone might want to communicate something different with null than with an empty object. taking the ability to do that away would be changing something fundamental about redux and would be a lot more confusing to newcomers.

in [redux's tutorial](http://redux.js.org/docs/basics/Reducers.html), they explicitly mention that returning state in the default case is normal behavio

[2017-08-08 05:14] bigradish commented on #138
OK, if null is useful for state, a special action and be added, for example:

if (action.reduxLoopType === 'ONLY_DO_CMD') {
break;
}

[2017-08-08 05:23] bigradish commented on #138
OK, if null is useful for state, a special action be added:
{
type: '...',
reduxLoopType: 'ONLY_DO_CMD',
reduxLoopCmd: 'cmd to run'
}

in the combineReducers.js file, you can just run the command without iterating.

[2017-08-09 00:13] bigradish commented on #138
any response?

[2017-08-09 01:07] bdwain commented on #138
Without a clear problem to solve I don't think we should be making a change like this (or any changes really). There would be no performance benefits from this and the behavior it would allow is different from conventional redux, while the current implementation allows us to do the same thing in a much more conventional way.

[2017-08-09 01:10] bigradish commented on #138
sigh

[2017-08-09 03:57] bdwain commented on #138
sorry. redux makes very few decisions for you, but the one decision it did make was that reducers should be pure functions of the form `(oldState, action) => newState` and they should ALWAYS return the new state no matter what. I would only want to break from that if it enabled some new functionality in a way that was clearly better than any alternatives. Since we can already signal no state chang

[2017-08-09 03:57] #138 closed

[2017-08-09 04:16] bdwain commented on #136
I think I see. I'm a little confused about the implemntation you linked though. You changed the signature of store.dispatch in there to take an array of actions. That seems like it would be an issue. Wouldn't redux just ignore that action array?

[2017-08-10 02:45] Marswang92 commented on #136
So the way I'm doing this is taking the advantage of `liftReducer`. Since we don't want to overwrite the `reducer` controlled by `redux`, what we can do is asking `liftReducer` to keep on tracking `originalAction`. When you dispatch the action to `liftReducer` basically it will check if `originalAction` exist or not. If so, just simply append the current action into the array.

[2017-08-10 02:49] Marswang92 commented on #136
So the way I'm currently use is when you dispatch an action with `cmd`, you'll either create an array of `originalAction` which contains it self or just append it to the array of its `originalActions`. The `dispatch` method inside the `redux-loop` middleware will handle the `originalActions` parameter properly.

[2017-08-10 02:56] farism commented on #133
I like having things be the same as elm. I kind of think of redux-loop as an elm polyfill for redux and should strive to match the implementation as closely as possible. With additional features as necessary, of course.

That said, configurable batching behavior would probably be at the top of the list in terms of features I would like to see. A parallel batch would be nice, which @bdwain already

[2017-08-30 17:58] willisplummer commented on #130
👋 We've been using v2 of redux-loop for a while at work and we've been writing and maintaining our own declarations for the previous API. I'd be happy to take a pass at writing some type definitions for v3 if no one has started looking into this.

![bitmoji](https://render.bitstrips.com/v2/cpanel/10218279-166716282_8-s1-v1.png?transparent=1&palette=1&width=246)

[2017-08-30 18:18] bdwain commented on #130
@willisplummer yes that would be much appreciated. I've been meaning to add them but I have no experience with typescript and haven't had the chance to learn it yet.

[2017-08-30 18:24] willisplummer commented on #130
👍 will try to get a PR open before the long weekend. thanks for all your work on this project!

[2017-08-31 05:26] bdwain commented on #137
Sorry for the delayed response. I think you're right though. We can definitely improve the testing API. In general though, I think it's best not to just add methods to Cmds that just return their internal data. I have some alternative ideas that I think solve the same problems without exposing the internals of the Cmds as much.

Number 2 is a simpler problem so I'll start with that one. I think ra

[2017-09-01 18:06] jon-thompson commented on #137
I agree with your thoughts on the action creator issue. Simulating success or failure (perhaps similar to how enzyme simulates events for React components) is probably a good approach to take that feels natural and familiar and can also be easily extended later if needed.

As for the batch issue, how about instead of using something like `jasmine.arrayContaining` we enhance `Cmd` objects to act li

[2017-09-01 18:29] bdwain commented on #137
hm if we can pull that off then that would be cool. it might require something super hacky and hard to maintain though. I've been looking at how contains is implemented in jasmine vs chai and they both seem to just get your type as a string and if they don't recognize it, they go through custom logic to try to figure out if your object contains the thing you specified. It might be tough to maintai

[2017-09-01 18:45] jon-thompson commented on #137
Yeah if that's the case, it does sound difficult to maintain.

I like the idea of creating matcher libraries; that's probably the ideal way to handle this. That might also be a lot to maintain though.

I think disabling or changing the invariants to allow `jasmine.arrayContaining` is probably the most practical compromise for now until there's more demand for other matchers. Personally, I'd prefer

[2017-09-01 19:00] bdwain commented on #137
i'd rather not put jasmine specific stuff in the core library. But we could put a guard to make sure that the disable option is never used in production. or at least warn if it is (even though the the invariant does nothing in production anyway)

[2017-09-19 04:06] jaredklewis opened #145 "TypeScript type definitions for combineReducers"
Hello. Currently, redux-loop uses the the following types for its `combineReducers` implementation:

[code]

In effect, this means that it is only possible to use  `combineReducers` if all the reducers return a state with the same interface. Consider the example below:

[code]

In this situation, TypeScript will given an error unless `combinedReducers`'s second parameterized type is set to `any` (

[2017-09-19 04:39] bdwain commented on #145
Thanks for pointing this out! It does seem like an issue. I think your solution makes sense, but I'm wondering why Redux doesn't seem to follow that pattern. Their definitions look like this.

[code]

so they don't seem to provide any type safety.

As far as your proposed solution, one question I have is why the map object needs the second parameter at all. it's not currently using it.

cc @willis

[2017-09-19 05:40] bdwain commented on #130
Just wanted to post an update here.

Typescript typings have been added to the library. Thank you @willisplummer for your hard work on that. It is much appreciated.

I think considering we have the typescript support now, rewriting the entire library in typescript might not be worth the effort at this point. If there's a demand for it later, we can reevaluate. But it'd take a lot of time compared

[2017-09-19 09:33] jaredklewis commented on #145
As for my solution, sorry for the mistake. I totally botched it actually. I think it needs to be more like this:

[code]

The above definition also relaxes the requirement for every store key to be present, which allows you to handle some sub-stores outside of `combineReducers` (if you need to get fancy for some sub stores).

As for the difference with redux, it's because mapped types require type

[2017-09-19 09:33] jaredklewis commented on #145
As for my solution, sorry for the mistake. I totally botched it actually. I think it needs to be more like this:

[code]

The above definition also relaxes the requirement for every store key to be present, which allows you to handle some sub-stores outside of `combineReducers` (if you need to get fancy for some sub stores).

As for the difference with redux, it's because mapped types require type

[2017-09-19 14:27] willisplummer commented on #145
the thinking behind the current type definition of `combineReducers` is that `T` was a union type of all of the sub-states of the combined reducers. That approach definitely can get pretty boilerplate heavy as you start to add more and more unions though.

This solution looks very promising to me. Thanks for the suggestion!

[2017-09-20 00:56] bdwain commented on #145
Have you run into a scenario where not requiring all sub stores would be useful. I'm hesitant to do something odd like that without good reason, and combinereducers shouldn't ever need its children to be split. I'd imagine if there was a good reason to do it redux would have done it in theirs too.

Either way I think the fix is worth it. If you want to open a pr that would be awesome!

@willisplum

[2017-09-20 01:20] willisplummer commented on #145
+1 regarding the optional substores - an example would be really helpful 🙏

[2017-09-20 05:22] jaredklewis commented on #145
Hi guys, I made a PR. Decided not to have the optional sub stores so that our type definition matches the redux next branch one as closely as possible.

[2017-09-20 14:40] #145 closed

[2017-09-21 01:53] gniquil opened #147 "Combined reducer is not compatible with redux `createStore`"
Thanks for the typescript support. Things worked like a charm except in the store setup. The following code

[code]
would cause typescript to complain about `Argument of type 'LiftedLoopReducer<...>' is not assignable to parameter of type 'Reducer<...>.'.`

Is there anything I can do here?

[2017-09-21 05:08] bdwain commented on #130
#148 is open

[2017-09-21 08:07] willisplummer commented on #134
I agree that cancelable async seems out of scope for `redux-loop` and resolvable on the users' end by simply tracking in state whether the reducer case for the `successAction` in question should return new state or just the old state.

e.g.

[code]

There are a number of ways a user could solve this without the use of any third party libraries.

[2017-09-22 01:39] bdwain commented on #130
Closing this as everything is done and 4.0 is released. Thanks everyone!

[2017-09-22 01:39] #130 closed

[2017-09-22 01:50] willisplummer commented on #130
congrats!

[2017-09-22 02:04] willisplummer commented on #147
@jaredklewis Do you have any experience with this? i'm going to try to dig into it a little bit more tomorrow.

At work we do something like the followIng to overload redux's `StoreCreator` type so that `createStore` will support redux-loop's `EnhancedStore`:

`typings/redux/index.d.ts`:
[code]

[2017-09-22 02:17] willisplummer commented on #147
@gniquil this is kind of a hack but it works(?)

[code]

[2017-09-22 04:43] bdwain commented on #133
Version 4.0 was just released. It was a small update to remove deprecated functionality and clean up the build and tests to make future changes easier.

Now that that's done, I'd love to start tackling some of these ideas and coming up with more.

The first one I'd like to do is configurable batching behavior. My thought is that we have batch and sequence now, but it'd probably be simplest for the

[2017-09-22 13:58] jaredklewis commented on #147
Hello. For the time being, I think the best "solution" is just to cast the `LoopReducer` to an `any` to get things working.

[code]

Unless the upstream `redux` project wants to make their `createStore` or `Reducer` types more generic, I can't think of anyway this can work out of the box.

I guess `redux-loop` could expose a simple `createStore` wrapper that is just the redux project's version wit

[2017-09-22 14:46] willisplummer commented on #147
I think that the _solution_ of casting alongside adding some documentation to the ReadMe feels like the best approach. @bdwain what do you think?

[2017-09-22 14:48] gniquil commented on #147
This is exactly what I’m doing. But my project created from CRA with
react-scripts-to always shows warnings about casting to any.

On Fri, Sep 22, 2017 at 7:46 AM Willis Plummer <notifications@github.com>
wrote:

[2017-09-22 14:52] willisplummer commented on #147
@gniquil can you just disable the warning in this case? alternatively, does casting `createStore` as redux-loop's `StoreCreator` type resolve the issue for you?

[2017-09-22 15:43] gniquil commented on #147
@willisplummer I will cast to `any` for now.

But I think the better approach would be to provide a different `createStore` with a different signature. The warning (or error without casting) is actually correct in that the normal `createStore` does not and should not take a `LiftedReducer` as an argument, without having `install`ing a special enhancer. And from another perspective, perhaps it's th

[2017-09-23 03:29] bdwain commented on #147
@gniquil I'm not sure that storing Cmds in state would work well because Cmds contain functions and so can't be serialized. A lot of redux tools are built around the serialization of the state and  those would break. See http://redux.js.org/docs/faq/OrganizingState.html#can-i-put-functions-promises-or-other-non-serializable-items-in-my-store-state.

I do agree that figuring out the right order for

[2017-09-23 03:58] bdwain commented on #134
I'm going to close this issue because I don't think there's anything to do on it for now. I'd be happy to revisit the issue when Cancellations are natively supported.

[2017-09-23 03:58] #134 closed

[2017-09-23 04:09] bdwain commented on #136
hi @Marswang92 . I'm very sorry I haven't responded in so long. I haven't had a ton of time lately.

If you can get this to work in a branch, I'd be happy to merge it in. I think I see where your rough implementation is going but I haven't been able to think through it completely yet.

One thing I did notice is that I'm pretty sure when you pass the originalActions array into store.dispatch, it wi

[2017-09-23 05:51] bdwain commented on #133
#151  was made to address the batching issue.

[2017-09-23 17:48] gniquil commented on #137
@jon-thompson I had the exact same issue as you did in regards to 1). For me in your scenario, you can simply predefine an action creator function and your lifted state should be comparable as the predefined functions are stable (whereas anonymous functions are not)

However, this doesn't work if you have a scenario where your success|fail action creator needs more than the result|error as the arg

[2017-09-27 08:29] jaredklewis commented on #147
@bdwain

I am not sure I understand correctly, but don't we already put commands in the store anyway? redux-loop considers the first element of the array to be the "Store" and the second to be a Command, but this is just the way redux-loop thinks about the data structure. From the perspective of redux (and other redux middleware), until redux-loop strips out the command part, the containing array

[2017-09-27 14:14] bdwain commented on #147
We don't store commands. Inside install.js you can see this snippet of code

'''js
    const liftReducer = (reducer) => (state, action) => {
      const result = reducer(state, action)
      const [model, cmd] = liftState(result)
      cmdsQueue.push({ originalAction: action, cmd })
      return model
'''

We take the return value, break out the cmds and push them into a queue and then return only

[2017-09-27 16:04] jaredklewis commented on #147
Right, so I think I follow this part. My understanding of @gniquil 's idea is that it also does not store the command in the model long term, just as temporary holding place (same as last element of array in the current implementation).

[code]
Though not shown above, obviously this idea requires changing the `loop` function to add in command keys rather than putting the model into an array with t

[2017-09-27 16:13] bdwain commented on #147
I still think we'd need a special combineReducers. Otherwise, our state shape might look like this

[code]

and any futrther nesting would be reflected inside of fooState and barState.

combineReducers batches up all of the cmds of the children into a single command and merges the children state into a single parent state. I think we still need that functionality at every nesting level in the stat

[2017-09-27 16:28] jaredklewis commented on #147
Good point.

I was thinking `loop` never returns an array (always returns an object), so the state shape would always just be the shape it is normally with `Cmd.key` properties scattered around.
In that case, to avoid a custom combineReducers, they could be batched in liftReducer:

[code]

Though this I imagine is less performant than batching inside `combineReducers`. So maybe better to keep comb

[2017-09-29 14:18] bdwain commented on #147
It's an interesting idea. Getting rid of combine reducers would be great. But yea I think doing a deep traversal of the tree every action would be bad for performance.

[2017-09-30 03:45] bdwain commented on #133
Release 4.1.0 with the new batching changes.

[2017-09-30 05:49] gniquil commented on #137
Hi @bdwain @jon-thompson,

I just submitted a pull request #152. This should help address the first problem mentioned in the original issue.

Frank

[2017-10-01 04:21] bdwain commented on #133
I opened #153 to address the remaining two points. I'm going to close this issue as there's not much discussion anymore and all of the original ideas have been implemented.

[2017-10-01 04:21] #133 closed

[2017-10-01 20:13] bdwain commented on #137
I'm going to mess around with the Cmd simulations and allowing jasmine matchers

[2017-10-01 21:22] bdwain commented on #131
if anyone wants to take this on let me know. We'll probably want a new repo for it. I can create that if needed.

[2017-10-02 15:00] gniquil commented on #147
What if we implement a very simple dirty checking flag? I.e every time you call Cmd.run/action/list we dirty a flag and clear it after running the side effects. This avoid traversing the tree every time. Feels hacky but should work.

[2017-10-02 16:33] bdwain commented on #147
It could get really slow if you have a large state tree or large objects in the state tree. In general I'd be hesitant of anything that had performance scale with the size of the state tree.

[2017-10-04 02:58] Marswang92 commented on #136
Yeah I'll try to spend some time on that maybe this weekend, thx!

[2017-10-04 07:35] te-chris opened #156 "Cmd's silently failing"
Hi, first, let me qualify that I'm new to using `redux-loop`, so maybe I'm missing something.

I've got a standard setup, have tried putting `install()` at the top and the bottom of my composed enhancers, but nothing is ever being run.

When I use a `Cmd.action`, e.g., this is added to the state:
[code]

But the actual side effect is never dispatched. When I tried to use `Cmd.run`, nothing is ever

[2017-10-04 08:00] bdwain commented on #156
Hi. Two things stand out to me that may be related.

- You should use undefined for the initialState param to createStore. By using an object, the top level reducer won't use its default state if it has one.
- It looks like you're using the devtools incorrectly:

I think you want to use it like this

[code]

You can also check the NODE_ENV if you want to avoid running it in prod, but it's usually

[2017-10-04 08:32] te-chris commented on #156
Thanks for getting back to me so quickly!

It was `combineReducers` :) I was still using redux's one. works perfectly now.

[2017-10-04 08:32] #156 closed

[2017-10-04 08:41] bdwain commented on #156
Cool glad i could help. Also just FYI on the trigger action you shoild not be doing {...state}. Just use state. The spread operator is going to create a shallow copy even though you're not actually changing anything and that will cause extra rerenders in your app. In general you should only create a new object if you are changing it.

[2017-10-04 08:58] te-chris commented on #156
Thank you, good catch.

[2017-10-05 06:17] bdwain opened #158 "Replace readme with a multi-page guide"
The top-level readme is getting bloated trying to explain every feature. It'd be great to have a more comprehensive guide and leave the readme to be a high level explanation and some links.

A gitbook would be cool, but maybe unnecessary considering redux-loop is a relatively small library.
I think long term, we'll want one though.

At the very least the docs folder could be expanded upon to have

[2017-10-06 04:07] bdwain commented on #136
Also, just so you're aware, #151 seems like it might have a significant effect on the implementation of this. With Cmd.list, not all actions get dispatched from the install.js file. Unless you have the batch option enabled, the promise from the list cmd is resolved with an empty array.

[2017-10-06 19:08] heygrady opened #159 "Question: why use Cmd.run over Cmd.action?"
I'm new here :) Just trying to get a handle on how this would work.

I'm confused why `Cmd.run` is the preferred example. While it's nice to have some automated handling of promises, there's already middleware for all of those things. It *feels* like `Cmd.run` is subverting the typical dispatch flow of a redux application.

On the other hand, using `Cmd.action` *feels* more like classic redux to m

[2017-10-09 05:39] bdwain commented on #159
Hi @heygrady. Thanks for the feedback. I understand why you'd lean towards Cmd.action being more familiar with thunk and sagas. I haven't used redux-loop much in the way you are describing. It sounds like it could lead to interesting integrations with other libraries. I'd be happy to hear your thoughts on it if you end up exploring it more.

Personally, I think of Redux Loop as more of an alternat

[2017-10-10 00:27] ashishsc opened #160 "Typescript examples"
I think we should try writing the example in typescript. There's some friction you run into when defining action creators unless you define it the way redux-loop is expecting it (using the ActionCreator type, etc.) I'll try and post a concrete issue of what I'm facing here in a bit. @willisplummer since you added the definitions, do you have any sample code using redux-loop in a ts project?

[2017-10-10 00:39] bdwain commented on #137
I'm gonna close this since I think the issues are addressed for now. Long term it'd be interesting to look into specific testing packages, but idk if that needs to be done yet.

[2017-10-10 00:39] #137 closed

[2017-10-10 00:56] heygrady commented on #159
Thanks for the detailed response. This really helped. I think I'm understanding it a little bit better.

When I was working with sagas on a previous project that used react-redux-starter-kit I ended up creating some helper functions ([redux-saga-watch-actions](https://github.com/heygrady/redux-saga-watch-actions)) for making a saga behave more like a reducer. I was originally pretty enthused about

[2017-10-10 00:57] ashishsc opened #161 "Slack channel"
Might be good for the community to have a redux-loop slack channel /discord /gitter (or a sub-channel under redux)

[2017-10-10 01:58] bdwain commented on #160
Agreed. This is also related to #158. I think that's probably the next big task ahead of us. It would really lower the barrier to entry for people.

[2017-10-10 02:06] bdwain commented on #161
yea that would be awesome! I think a sub channel under redux makes sense. Reactiflux right?

[2017-10-10 04:49] bdwain commented on #159
I'm not totally sure I see the relationship between Cmd.run and sagamiddleware.run. Don't you just say sagaMiddleware.run once to set up all of your sagas? I thought they were more like a separate reducer tree (but sagas not reducers) that you initialize once when your app starts (like as part of the process of configuring the store).

Cmd.run represents a single run of a single function. It's jus

[2017-10-10 07:00] heygrady commented on #159
Right. That makes total sense. Although `sagaMiddleware.run` is essentially the same as the `call` effect as well.

The typical way they promote using sagas is exactly as I've implemented in [redux-saga-watch-action](https://heygrady.github.io/redux-saga-watch-actions/). Basically, redux-saga provides a [`takeEvery`](https://redux-saga.js.org/docs/api/index.html#takeeverypattern-saga-args) effect

[2017-10-10 15:24] bdwain commented on #159
I see. So you're thinking about something like Cmd.saga to run arbitrary sagas. Something like `Cmd.saga(someSaga, {args?, otherStuff...})`?

Were you thinking of this for more complex side effects? like the one you described earlier.

It might be possible to do that. Are you thinking the main benefit would be that the sagas are declarative and so easier to test? Because you can already run arbitr

[2017-10-10 15:33] bdwain commented on #159
@ashishsc @willisplummer I'd also be interested in hearing your opinions on this.

[2017-10-10 15:52] ashishsc commented on #160
Ok so, first a question about the type for Cmd.run:
[code]

I'm getting type errors here because my fail and success action don't create the same action. Shouldn't the actual type be
[code]

?

[2017-10-10 16:10] ashishsc commented on #160
Another issue:
[code]

including redux-loop in my project gives me errors:
[code]

[2017-10-10 16:13] heygrady commented on #159
Thanks for the offer. I'm currently swamped on a few work things so I wouldn't be able to make progress on it right away. Feel free to run with it, and thanks for being so graciously considering my feedback.

#### Redux-saga as an effects runner
That's all it is already, except they have some boilerplate configuration, similar to your `install`, to get access to the store. They're allowing you to

[2017-10-10 19:41] gniquil opened #162 "[BUG] Cmd.map(Cmd.list(...)) is broken"
If a "subreducer" returns a list of cmds. Cmd.map does not do the right thing by mapping the high order action creator over each cmd's success/fail action creators in the list.

[2017-10-10 19:54] gniquil commented on #162
Not sure if this is the root cause, but here, in the `cmd.js` file:

[code]
Is this dispatch action directly? Shouldn't these functions return some type of array of actions, and then have Cmd.map potentially wrap the actions and wait for the dispatch? Not sure how this will play with async/batch settings.

Frank

[2017-10-10 21:05] gniquil commented on #162
Just tried a few things. It seems with `batch: true`, `map` with `list` works

[2017-10-10 21:09] bdwain commented on #162
Hi @gniquil. Sorry I maybe could have made this warning more prominent. In the notes section for Cmd.map's documentation it mentions.

I don't think there would be a good way around this because the whole idea behind turning batch mode off is that the actions are dispatched as soon as they are ready and there is no single "batch" returned through a promise.

[2017-10-10 22:12] gniquil commented on #162
Ok, sorry missed that note. Would it be a better idea to set batch to true by default? I am not sure how everyone else is using the library. But for us, we are using it the way it's used in Elm, i.e. decomposing reducers and forwarding actions to subreducers. In that case `list` is mostly used to combine commands, which would make more sense to do batch.

[2017-10-10 22:34] bdwain commented on #162
I think in general we want batching off because it just delays results that are otherwise ready, which causes worse perceived performance. The only reason I can see to turn on batching is to make Cmd.map work.

I think we need to look at Cmd.map more in the future. I understand why it works the way it does in elm, but the concept of middleware makes it harder to use in redux. If you wrap an action

[2017-10-10 22:40] bdwain commented on #161
sounds like they're hesitant to make new channels for a single library right now without a lot of chatter already. They suggested directing traffic to the redux channel, but i don't really want to do that because there's so much else going on that it's hard to monitor for redux loop specific stuff.

I'm hoping they change their mind, but if not, they said they are probably going to start having ch

[2017-10-10 22:46] bdwain commented on #147
Can this issue be closed or is there still a bug to address?

[2017-10-10 22:49] jaredklewis commented on #147
Not the OP, but I think #160 will basically resolve this, as the plan at least for now seems to be casting.

[2017-10-10 22:53] bdwain commented on #160
Having played around with typescript a bit to work with the typings, I feel like rewriting everything with typescript might make it harder for people who don't use typescript to contribute. That, combined with the effort it will takes makes me think it's probably not worth it.

I think we could improve our tests to catch issues with our typings though for sure. We really need to improve the exampl

[2017-10-10 22:54] bdwain commented on #147
ok i'll close this in favor of #160

[2017-10-10 22:54] #147 closed

[2017-10-10 22:55] bdwain commented on #158
i set up gitbooks for the project. I'm gonna play around with that for a bit and get a js.org domain to host it on.

[2017-10-10 22:59] bdwain commented on #162
I think we could probably add a warning to Cmd.map to detect if the subcmd is an unbatched list. Would that be enough to replace the default being false?

[2017-10-10 23:18] gniquil commented on #160
@ashishsc For you first issue, `Cmd.run`, I've run into this as well. The solution is to make your action creators return the union `Action` type. That should solve your problem. However, if you want to adopt this approach, your action creators need to be able to import the root Action type, which implies that action creators need to exist completely separately from your action definitions. This i

[2017-10-10 23:26] gniquil commented on #162
@bdwain I think for now a warning should probably do the trick.

As for support for `map`, please don't ever drop it. :) We rely so heavily on this it's not even funny. We use typescript at work. In order to get the types work smoothly, it's much better to adopt the elm style's decomposition. In addition, we are also working on a largish app (we had more than 300 actions) and thus could not scale

[2017-10-10 23:35] bdwain commented on #162
Glad you enjoy it! @lukewestby is the one who deserves your thanks as he wrote it. I'm just trying to make sure it stays awesome.

As for Cmd.map, don't worry I wouldn't remove it. I would like to find a way to feature it more if possible and make it easier to understand, but the problem is getting around the middleware issue. Do you just not have any middleware that needs to see every action?

I

[2017-10-11 02:19] ashishsc commented on #160
@gniquil I am also a huge fan of elm, hence why I came to loop. I am not sure that our action creators should return the union ```Action``` type. I take advantage of the fact that the creators can return a specific kind of action. Although now that you mention it, that's similar to how in elm, the view functions return ```elm Html Msg```  where ```Msg``` is a union type.  @willisplummer was that t

[2017-10-11 02:26] ashishsc commented on #161
I see, that's a shame. Loop is pretty popular though, so I'm sure that the sooner we get something up the better. ![Loop Stats](https://i.imgur.com/kyTvzLg.png)

[2017-10-11 05:20] willisplummer commented on #160
Yeah, @gniquil has the right idea here. Take a look at the tests i wrote for the typescript definitions to get a sense of how this is working: https://github.com/redux-loop/redux-loop/blob/master/test/typescript/loopReducer.ts

I agree that a TypeScript rewrite wouldn't actually be very hard to do. Adding function annotations is generally fairly straightforward, and it would give us more confidenc

[2017-10-11 05:21] willisplummer commented on #160
@ashishsc I'm not sure what an action creator would return if not the union type of all the possible actions for a given reducer or more broadly redux's `AnyAction` type?

[2017-10-11 05:25] willisplummer commented on #161
We could set up a redux-loop specific free-tier slack channel in the short-term? Wouldn't hurt to just migrate to redux later if they let us but i think having a hub for conversation would be a great way to encourage more people to get involved with the project

[2017-10-11 05:38] willisplummer commented on #160
Another argument that I see for pursuing a TypeScript rewrite is that defining your API's can quickly make architectural complexity more apparent. (When a function accepts weird union types or is difficult to type, that's generally a good indicator that it's attempting to do too much).

[2017-10-11 06:14] gniquil commented on #160
Like `Cmd.run`. Wouldn't it be awesome if it type checks the `args` against effect func arguments, and resolved promise wrapper against success/fail actionCreators. Too bad typescript can't do the following

[code]

At work we reexport a more restricted version of Cmd.run, forcing effect func to only take 1 arg (and completely forbid getState and dispatch).

[2017-10-11 13:17] ashishsc commented on #160
I take issue with the way the Redux uses AnyAction, I like to do in my reducers and subreducers
[code]

but with the way redux defines AnyAction this isn't possible.

[2017-10-11 13:23] ashishsc commented on #136
Possibly related to #131

[2017-10-11 13:27] ashishsc commented on #160
Wow I'm so blind. Sorry guys I didn't even see https://github.com/redux-loop/redux-loop/blob/master/test/typescript/loopReducer.ts . It'd be worth moving that into the examples dir.

Also I think my type errors could be a tsc version mismatch? I'll confirm later.

[2017-10-11 13:30] ashishsc commented on #128
I honestly don't know how I feel about using loop with other middleware. I think it makes the most sense to use it on its own rather than have several different ways to handle effects. One exception to that is that some things are potentially easier with saga (things that a state-machine isn't the best tool for, aka debounce) but you can still do it.

[2017-10-11 18:04] gniquil commented on #162
@bdwain I have an idea after looking through the code. If we don't want to break the api, what about this:

[code]

The main difference between `tag` and `map` is that tag is eager. When called, it eagerly produces a tagged version of the `nestedCmd`. That way, by the time you get to `executeCmd`, taggers have already been applied. Eventually, we could deprecate `map` as it is then completely redu

[2017-10-12 00:29] bdwain commented on #160
@ashishsc I think the typescript test is good for a test, but it's kind of just a bunch of random stuff.  I think we should have a full fledged app example in the examples folder. Maybe that would also make a good test too.

My two main issues with making the whole library typescript is that it
- Makes it harder for people who don't use typescript to contribute, while typescript users can easily c

[2017-10-12 00:32] bdwain commented on #161
yea i think that makes sense. Reactiflux is dragging their feet on allowing new channels and I don't want to wait forever. I use slack for work and like it and would obviously be happy to have a single app. Does anyone have any experience with gitter? It sounds like the other main alternative and I'm just curious if there's any reason it would be better. Otherwise I think more people are already u

[2017-10-12 01:23] bdwain commented on #161
Ok I made a slack channel. I invited both of you. Is there any reason I shouldn't just post an invite link on the front page? I haven't deal with public channels much before. Looks like we'd have to change the invite link every 30 days, which is annoying. I was looking at some other public channels and they all have signup pages where you have to enter a url, but that seems annoying.

[2017-10-12 01:29] bdwain commented on #161
oh cool i guess there's https://github.com/rauchg/slackin

[2017-10-12 02:11] bdwain commented on #162
I'm a little confused. I'm not sure what you mean by "taggers have already been applied". Can you provide an example of where this would be better?

Also it looks like the run example is passing an action creator through tagger, not an action itself. Is that intentional? Seems like it'd be different from the current API

[2017-10-12 02:14] bdwain commented on #159
Cool I'll play around with this. I don't think we'd necessarily want to automatically pull in saga, at least at first. Maybe down the road. To start we'd probably rely on passing a runsaga method to the store creator

[2017-10-12 02:34] gniquil commented on #162
@bdwain Sorry, my bad, on the `RUN` example. Here's a correction without thinking too much about it:

[code]

`Cmd.tag` should be used exactly like `Cmd.map`.

The point is `Cmd.map` creates an intermediate data structure and it doesn't do anything until the redux-loop runtime starts executing the commands. `tag` however, reaches into the other commands and "compose wrap" the action creators immed

[2017-10-12 02:43] bdwain commented on #162
Ah i see. That does make a bit more sense. So besides the unbatched lists this should not cause any difference in behavior right? If that's the case, that would be cool. and we could probably just keep it as Cmd.map then, but do it on a major version bump to be safe.

One issue with this though is that this isn't testable with an equality check because the action creators are created inline. Not s

[2017-10-12 04:41] ashishsc commented on #160
I think angular2's main issue was the confusing tooling, identity-crisis api, and several other issues indirectly related or maybe slightly compounded by typescript. I do agree that we shoul dhave an example for now though, I wouldn't want to force ts or make it required.

[2017-10-12 05:30] gniquil commented on #162
Haha you had me convinced with the simulate solution. To be perfectly honest I do agree if everything is just value, it would be so much better. This is actually why I originally proposed  allowing extra args for success and fail action creators.

Back to the issue at hand. I think if we want to preserve map, we could add an extra “pass” before execution (I think it’s where queue.map(runCmd) in in

[2017-10-12 05:32] bdwain commented on #162
maybe we could just simplify it to say

[code]

thoughts? That should limit the change to only the case where it matters. And not mess up any testing.

[2017-10-12 05:35] bdwain commented on #162
Hm not sure what you mean in your last comment. Is it necessary if we do the thing I just suggested? How would the extra pass look?

[2017-10-12 06:21] gniquil commented on #159
@heygrady @bdwain This is an interesting discussion, and I have some hard learned lesson about these 2 libs perhaps I could share. At work, we started using Saga first, coupled with typescript. We eventually got so fed up and moved to loop for the following reason:

1. Fragmentation of your state and effect. As @bdwain alluded earlier, we had a complete separate folder of sagas, independent of the

[2017-10-12 07:20] gniquil commented on #162
Here

[code]

Here's an implementation of `applyCmdMap`:

[code]
Think of `applyCmdMap` as "withMapCmdAppliedAndRemoved".

As for your solution above, if you modify `map`, what do you return though? If you had eagerly applied tagger, then would you return just the subcommand (i.e. the underlying List) or the "MAP" command but `tagger` substituted with an identity function?

Personally I think, the

[2017-10-12 18:40] gniquil commented on #131
@ashishsc and @bdwain. Check this out:

![image](https://user-images.githubusercontent.com/149100/31512604-691f1a16-af40-11e7-9495-b90f9fe70a7e.png)

(please excuse the "hello: you" business)

So this is an idea to add the list of commands to the redux devtool. The key thing is at each dispatch loop, we have an object in the enhancer that's called "cmdsQueue" that's been repopulated for execution.

[2017-10-12 21:09] ashishsc commented on #160
So I confirmed that my issues were from using typescript@2.4, the issues went away after, I should've realized that sooner. This thread can keep serving as a discussion for what we want to do with typescript, however.

[2017-10-13 02:41] gniquil commented on #160
@willisplummer Looking forward to seeing your PR. But just now I came across this:

[code]
https://github.com/Microsoft/TypeScript/issues/5453

Variadic kinds in 2.7. It would solve so many problems...

[2017-10-13 02:42] gniquil commented on #160
Oops mis-spoke, not 2.7, but at least in the roadmap.

https://github.com/Microsoft/TypeScript/wiki/Roadmap

[2017-10-13 05:49] bdwain commented on #161
https://reduxloop-slack.herokuapp.com/

i had to make some random gmail account to send the invites from, which is a little weird, but it works.

<img width="701" alt="screen shot 2017-10-13 at 12 48 10 am" src="https://user-images.githubusercontent.com/3982094/31532006-4e1e5bbc-afb0-11e7-8de5-b85f4a21a39b.png">

[2017-10-13 05:57] #161 closed

[2017-10-13 06:11] bdwain commented on #162
sorry my example was just doing what yours did, but only when nestedCmd is list, instead of adding behavior for ALL cmds or doing. It's just adding some logic to the Cmd.map method (which creates map cmds).

[code]

it's basically just like cmd.tag. but we don't need special case logic for the other cmd types because it wouldn't make a difference anyway. unbatched lists under maps are the only thi

[2017-10-13 06:32] gniquil commented on #162
@bdwain I think the special case I am thinking about is for future development. This special case is coupled to the specific implementation of the map + list behavior right now. It could make the code complex later.

What do you think about the apply map idea. It doesn't change the API, makes it more correct, and still maintains testability (as much as we have today at least).

[2017-10-13 07:14] bdwain commented on #162
Doesn't the apply map idea depend on Cmd.tag though, which is what breaks the testability in the first place?

[2017-10-13 16:28] gniquil commented on #162
Sorry I wasn’t clear. With applyCmdMap we don’t expose tag function anymore. So there will be zero change in API.

[2017-10-13 16:30] bdwain commented on #162
but then what does it do to map cmds? you had it as

[code]

[2017-10-13 16:34] gniquil commented on #162
So right before we execute each command in the queue, we apply the tagger to the nested commands recursively. So when the actual execution begin, nested command will contain no `MAP` structure anymore.

[2017-10-13 16:52] bdwain opened #163 "test"

[2017-10-13 16:52] #163 closed

[2017-10-13 18:14] gniquil opened #164 "Make this more extensible by providing a customizable "runtime""
Currently, the execution logic is all encapsulated in `install.js`. Mostly, there is a private var `cmdsQueue` and the execution is hard coded in the install function that it can't be changed. I think we can extract this into a more customizable runtime object to achieve following benefits:

1. customize the runtime behavior #162
2. helps tooling #131 (monitors can get a look at the commands queue

[2017-10-14 01:45] gniquil commented on #131
This is another example of getting access to the `cmdsQueue` can do. Here at work, I cleaned up the formatting a bit.

(Also note that at work we use `Cmd.map` heavily. So I also overwrote action name in the format `Action -> ChildAction -> ...`

![image](https://cdn.discordapp.com/attachments/367131029040922626/368572764338257920/unknown.png)

[2017-10-15 17:38] bdwain commented on #162
I think that since we need to do it before we execute the Cmd, we could do it on creation of the cmd rather than before execution. That'd be simpler and we could avoid having to change install.js.

If we changed Cmds to be a class with inheritance it would be pretty simple to just have some method on a Cmd like mapify or something and the default behavior would be to do nothing but for lists and m

[2017-10-24 09:44] morewings opened #165 "Enhancer is not working"
Tried to use redux-loop in my project and found a bug. When reducer returns a loop enhancer doesn't catch and handle it, but puts array with new state and action into store.
Here is code I'm using - https://gist.github.com/morewings/4d31e5927063a1901981de3ac59fcdc2

[2017-10-24 14:05] bdwain commented on #165
Is the root reducer imported by reducer.js the reducer in the other file or something else? It sounds like you’re using vanilla combine reducers somewhere and not redux loop’s.

My other thought is to mess with the order of your store enhancers to see if that fixes it. But I think that’s less likely

[2017-10-24 14:51] bdwain commented on #165
try rearranging the order of your store enhancers. typically you shouldn't need thunk and promise if you are using loop, so removing those or changing the order around could help.

[2017-10-24 14:52] morewings commented on #165
I'm doing it like this
`case MESSAGE.RECEIVE: {
      const messagesLens = lensProp('messages');
      const addMessage = append(action.payload);
      return loop(
        over(messagesLens, addMessage, state),
        Cmd.run(() => {return console.log('test')}),
      );
    }`

[2017-10-24 14:59] bdwain commented on #165
i'm not familiar with ramda but don't you want to use the previous state value when calculating the new state?

[2017-10-24 15:06] morewings commented on #165
It's like that `over(messagesLens, addMessage, state)` pay attention to last argument. But the problem I'm strugling is not because of Ramda. Redux-loop is not running an action even with plain object as a new state.

[2017-10-24 15:07] bdwain commented on #165
can you update the gist? with the reducer and the file that says combineReducers?

[2017-10-24 15:10] morewings commented on #165
@bdwain updated.
https://gist.github.com/morewings/4d31e5927063a1901981de3ac59fcdc2#file-reducer-js
https://gist.github.com/morewings/4d31e5927063a1901981de3ac59fcdc2#file-reducers-js

[2017-10-24 15:15] bdwain commented on #165
not sure if it matters but that's not how I use the redux devtools extension. I just say

[code]

other than that my only thought is that maybe the middleware is affecting it. I haven't seen how promise works. Is it possible to see how it behaves without thunk and promise in there?

[2017-10-24 15:20] morewings commented on #165
@bdwain I've removed promise, but it's not possible with thunk (requires a lot of rewriting).
Also tried your way of composing, didn't help.
Thanks anyway.

[2017-10-24 15:22] bdwain commented on #165
hm i can look more later. i don't have a ton of time to dig into it right now. if you want to try to debug it, the redux loop code isn't too complicated. i'd set a breakpoint in the dispatch method in install.js

[2017-11-07 00:00] seethroughtrees commented on #160
I appear to be having the same type issue as @ashishsc for Cmd. run in https://github.com/redux-loop/redux-loop/issues/160#issuecomment-335519497, where the output is expecting all actions to have the same type.

i'm not sure how if the example linked in here explains how this is any different?  can someone elaborate on how we should type the output of loops that use Cmd.run ?

[2017-11-07 01:23] willisplummer commented on #160
@seethroughtrees if you create a union of all the possible actions and make that the output for your reducer, that should solve the issue?

[2017-11-08 18:31] seethroughtrees commented on #160
It seems your response was deleted @willisplummer , but thanks for the response and the typings you provided for the library!

In case anyone has this problem in the future, I found typing the output of the individual action creators was creating the conflict for me.  I changed each action creator output type to the same generic union type as I'm passing to the reducer.  Not sure if this is ideal,

[2017-11-08 19:22] willisplummer commented on #160
@seethroughtrees glad to hear you got it working - sounds like you're doing things correctly. i wrote that comment out and then deleted because i wanted to revisit when i had a little more time to articulate how it should be done 😬

if you wanted to help out, there have been a few requests for additional examples and documentation of how to use Loop w/ Typescript

[2017-11-09 16:32] lsunsi commented on #164
This is a cool idea. So cool that I'd be willing to code something like that from scratch. (: Just a +1

[2017-11-09 16:42] bdwain commented on #164
Sorry I never got around to responding to this. I haven't had a ton of time the last few weeks.

I agree it's a cool idea and would make things like devtools much easier to implement. If you want to make a PR for it that would be awesome. If not I can try to do it at some point.

[2017-11-09 16:51] lsunsi opened #166 "Redux-persist new API is incompatible with redux-loop"
Related issue: https://github.com/rt2zz/redux-persist/issues/501

I'd like to discuss what's the best option for fixing this, since these two packages are awesome and I think I'm not the only one that'll want to use them together.

Their new API relies on the proper reducer signature, that's why it's incompatible.

[2017-11-09 17:08] bdwain commented on #166
I'm not too familiar with redux-persist, but it seems like the new version needs to change the top level reducer signature? I don't think there's a good way to make redux-loop work without returning a loop object from the top reducer instead of the actual state (though if there is I'd be interested).

It may be possible to write a store enhancer that lives between redux-loop and redux-persist and

[2017-11-09 20:17] lsunsi commented on #166
@bdwain I think the first point of incompatibility is that it expects the reducer to always return an object, no matter what. If you'd ask me, I'd say it's a little unelegant.

[2017-11-09 20:21] bdwain commented on #166
Oh yeah that would break if your root state is an array and you used no other middleware. It could definitely be more flexible.

[2017-11-12 18:00] ashishsc commented on #160
@seethroughtrees That is in fact how it is meant to be used. I didn't realize it at first, but it is the same as the way Elm defines its Cmds in that respect. The benefit of making it generic to the union Action type in the actions is that it allows typescript to do the work to figure out which action is being called, letting you change which one of your specific actions you want to call without h

[2017-11-12 20:06] seethroughtrees commented on #160
Makes perfect sense @ashishsc , thanks for the perspective.

@willisplummer , i can definitely help there.   this is my first project using typescript instead of flow.  when i get my patterns finalized, i'll be happy to submit some examples.  :)

[2017-11-15 22:30] alexburner commented on #128
I'm with @ashishsc on this one. There may be some redux middlewares that address unrelated concerns, and could work well alongside redux loop (such as redux persist, which I saw mentioned here https://github.com/redux-loop/redux-loop/issues/166).

However, middleware like redux promise and redux saga are trying to fix the same thing redux loop are: handling asynchronous code and other side effects

[2017-12-02 13:40] jiqimaogou opened #168 "custom middleware is not work in the action dispatched the reducer"
[code]

I have a custom redux middleware, and middleware can not catch the 'USER_FETCH_SUCCESSFUL' and 'USER_FETCH_FAILED' action which dispatched by the reducer.

it's right way?

[2017-12-02 18:02] bdwain commented on #168
Hi. Did you try switching the order of the middleware and redux loop when you create your store?

[2017-12-03 01:34] jiqimaogou commented on #168
thank you,

[code]

put install before can work,

[code]

put install after not work

[2017-12-03 04:50] bdwain commented on #168
Cool. I'm glad that fixed it.

[2017-12-03 04:50] #168 closed

[2017-12-03 14:40] meandmax opened #169 "How to use createStore with `LoopReducers` in Typescript?"
With TypeScript 2.5.3 I get the following error message:

[code]

It seems that this interface `StoreCreator` of Redux is not augmented by the below `StoreCreator from redux-loop ... any ideas?

[code]

[2017-12-03 20:28] meandmax commented on #169
Did the same, like here ... but really hard to find and not in the documentation ... please add this information. https://github.com/redux-loop/redux-loop/issues/147

[2017-12-03 20:28] #169 closed

[2017-12-11 08:27] meandmax opened #170 "Built working example with create-react-app, redux-loop and TypeScript"
May be interesting for others, had some barriers to setting this up: https://github.com/meandmax/redux-loop-ts-example

[2017-12-14 08:04] on3iro commented on #158
Sounds great. I was actually thinking that we should spread the word about this awesome library a bit more. So maybe creating some kind of logo would be cool as well. Unfortunately I am not a designer so, I can't really do that, but I could ask some friends.

If you need support with the docs, let me know :)

[2017-12-20 06:42] bdwain commented on #158
hm there is a logo and i thought it was in the readme. I guess not. We should add it back.

And yes I've been meaning to work on the docs but haven't had the time. If you're interested in making a PR to add some docs that would be very much appreciated (if so, don't worry about the gitbook for now. Markdown files are fine and can be converted to a gitbook easily).

[2017-12-20 06:43] bdwain commented on #170
sweet! I'll link to this from the readme.

[2017-12-20 06:47] bdwain commented on #170
Actually I'll leave this open for now because we there's not really a good spot for it in the current readme, which needs to be broken up into better docs. Once that's done, i'll add this link to that.

[2017-12-20 11:53] on3iro commented on #158
@bdwain sounds good to me. I will see if I can find some spare time over the next week to work on the docs :)

[2017-12-26 20:37] psbanka commented on #158
I'm also interested in working on this and I think I have some spare time to contribute in the next few days, @on3iro – hit me up if you'd like to work on this together?

[2017-12-27 08:13] on3iro commented on #158
@psbanka cool. Looks like you already put some work into this :) Unfortunately I am on vacation the next two days, but could help out on saturday. Just hit me up if there is anything I can help you with.

[2018-01-11 00:35] lukewestby commented on #164
hey there folks

i'm luke, i wrote the first couple versions of this library way long ago in javascript years. i just popped in to see how things were going and this issue caught my attention so i wanted to leave some thoughts.

1. "customize the runtime behavior" is sort of a restatement of what the feature request is and so probably not a sufficient justification for building it. if the linked i

[2018-01-12 01:18] jiqimaogou opened #172 "can you provide an example about "Normalizing State Shape""
in most time, we have a nested data structure, redux suggest us "Normalizing State Shape", can  you provide the best practice about "Normalizing State Shape" with redux loop?

[2018-01-12 05:10] bdwain commented on #172
It should be pretty much the same as vanilla redux. Redux loop deals more with side effects that happen due to your state changes, which are mostly independent of your state shape. Whether you return `newState` or `loop(newState, Cmd.run(someSideEffect))`, the state shape is pretty much the same.

[2018-01-29 08:25] arnauorriols opened #173 "execute reduxLoop.Cmd.action synchronously without notifying subscribers?"
I'm currently using `reduxLoop.Cmd.action` to trigger new actions right after the current action being processed in the reducer. Although it's fairly reasonable, I wasn't expecting that before any new action is processed by the reducer, the subscribers are notified (ie, the react views are rerendered). Right after the subscribers are notified, the new action is processed, and the subscribers notif

[2018-01-30 06:21] #172 closed

[2018-01-30 06:39] bdwain commented on #164
thanks @lukewestby those are good points. The customizable runtime is probably getting too far ahead of ourselves. Eventually it may be the only reasonable solution if we want to support a variety of integrations with other libraries, but right now I agree that redux devtools is not enough of a reason on its own to do that.

[2018-01-30 07:20] bdwain commented on #173
Hi @arnauorriols. I'm not sure we'd be able to prevent subscribers from being notified about an action that is dispatched, since that is part of the underlying redux functionality. But there are a few things that you can do to solve the issue.

1. Make all state updates in response to the original action
2. Combine your side effects into a single side effect (assuming you have some side effects).

[2018-01-31 15:34] arnauorriols commented on #173
This sounds interesting. I will have to think longer about your response, as it implies a different approach in respect of what the actions mean:

My reducer is structured so that each action defines *a possible mutation that can happen to the state of the view*. With that I mean that it's not structured mapping the user events, but mapping the state changes that can happen.

For example, consider

[2018-02-01 01:18] bdwain commented on #173
Yup. So in your example, my suggestion would be to put all of that logic in the handler for SELECT MARKER.

[code]

now let's say you could change the map bounds another way (let's say when FOO is dispatched, where FOO is some arbitrary thing that can happen), and wanted to share the logic so that you didn't have to repeat it. You could do something like this

[code]

this scenario is pretty simpl

[2018-02-01 01:20] bdwain commented on #173
also just as a side note, i recommend using the [loop](https://github.com/redux-loop/redux-loop/blob/master/docs/ApiDocs.md#loopstate-cmd-any-cmd) function rather than constructing an array manually, because the 2 element array is just an implementation detail and not guaranteed to stay the same between updates.

[2018-02-07 02:34] bdwain commented on #158
This is complete. Thanks again @psbanka !

[2018-02-07 02:34] #158 closed

[2018-02-07 02:36] bdwain commented on #170
This is linked to now on https://redux-loop.js.org/docs/tutorial/Tutorial.html

We can probably do a better job of highlighting typescript support in general, but I'll leave that to separate issues about improving the organization and clarity of the docs overall. Thanks again for creating that example @meandmax !

[2018-02-07 02:36] #170 closed

[2018-02-07 14:42] kwhitejr opened #174 "Cmd functions not triggered in 4.2.4"
Essentially, the scheduled function never runs. I followed the example for `Cmd.run()` to the letter without luck, then attempted to try just a console.log for the function and still no luck. I also attempted a hard-coded second action with `Cmd.action()`, and similar story.

Although [the docs](https://redux-loop.js.org/docs/api-docs/install.html) warn "Due to the way enhancers are composed, you'

[2018-02-07 16:31] bdwain commented on #174
Can you post your reducer and the file you are creating the store?

[2018-02-08 04:40] kwhitejr commented on #174
Here is the redux store configuration and the reducer.
**configureStore.js**
[code]

**reducer.js**
[code]

[2018-02-08 14:37] kwhitejr commented on #174
Switching to `combineReducers` from redux-loop immediately resolved the issue. Thank you.

[2018-02-08 14:37] #174 closed

[2018-02-14 12:55] on3iro opened #176 "[Question]: How would I implement a request queue"
Hey,

I am currently having a rather specific problem that I am not quite sure of how I should tackle it.
I am building some kind of task board and whenever a task is dragged around, I will immediately update the store and run a command to initiate a server request. If the request is unsuccessful the old state will be restored.
However because of the asynchrounous nature of these sideeffects it mi

[2018-02-17 04:50] bdwain commented on #176
Hi @on3iro . I'm assuming that these side effects are triggered independently. One event does not trigger 2 side effects, right? Because in that case, you could just use [Cmd.list](https://redux-loop.js.org/docs/api-docs/cmds.html#cmdlistcmds-options) with the sequence option.

Assuming that the side effects are triggered independently, I think you actually said the answer already. You want to que

[2018-02-17 09:49] on3iro commented on #176
@bdwain Thanks for the detailed answer! This is super helpful. I hope I'll find an opportunity to contribute to this awesome library in the future and return the favor ;)

[2018-02-17 09:49] #176 closed

[2018-02-17 11:32] bdwain commented on #176
glad I could help!

[2018-02-17 21:56] barberousse commented on #160
Another thing about y'alls types is that this:
[code]

is really bad in that a reducer should never return `undefined` nor should the state parameter ever be `undefined`. You have to realize you're forcing everyone downstream to type their Reducer to expect undefined as well insert type guards everywhere to satisfy `tsc`.

[2018-02-17 23:30] bdwain commented on #160
@barberousse Redux will pass undefined to a reducer initially so that you can return your initial state.

(from [redux docs](https://redux.js.org/basics/reducers#handling-actions))

[2018-02-18 00:05] barberousse commented on #160
It does, but it's an implementation detail that shouldn't be exposed to the
type system.

On Feb 17, 2018 5:30 PM, "Bryan Wain" <notifications@github.com> wrote:

[2018-02-18 00:06] bdwain commented on #160
How can a reducer accept an undefined state if it's explicitly typed to not accept it?

[2018-02-18 00:08] bdwain commented on #160
[Redux's types do the same thing](https://github.com/reactjs/redux/blob/master/index.d.ts#L59)

[2018-02-18 00:15] barberousse commented on #160
It's a non-issue. The type system only goes as far as compile time, but you
don't write your reducer code against `undefined` anyway. The downside of
leaking that into the type aglebra is that your reducer return values all
have to be passed through a type guard. If I have some state tree, each
leaf is forced to either be the union with `undefined` or you pass the
reducer result through a type gua

[2018-02-18 00:28] bdwain commented on #160
[code]
The return value does not allow for an undefined return value as far as I can tell. Only a state or a loop. Undefined is only mentioned as an input type for the state input.

Also, if the reducer was not typed to allow undefined as a State value, then this bad code would get through the type checking.

[code]

That would break immediately at runtime but be valid according to the type system

[2018-02-18 00:39] barberousse commented on #160
That's fair

[2018-03-07 14:51] tkreis opened #178 "CombineReducers uses rootState and seems to cause problem with other reducers (eg. reduceReducer)"
It seems like that the combineReducers uses the rootState instead of the passed in state while reducing: https://github.com/redux-loop/redux-loop/blob/master/src/combineReducers.js#L54 .

At least in my case this seems to make the usage of reduceReducers very cumbersome. Since it always resets to the Root-state when something has changed in the innerReducer and loses the state set in the outerRedu

[2018-03-08 09:11] tkreis commented on #178
You're right my example is screwed up.  For now I've solved my issue by wrapping the combineReducer response in an other function which extends the return value with the state returned by reduceReducer.
[code]

[2018-03-08 09:11] #178 closed

[2018-03-27 09:03] on3iro opened #180 "[Q] Problem implementing a request polling mechanism"
Hey,

I am currently trying to implement some form of request polling mechanism, but I really struggle to do it right with redux-loop.

### What I would like to achieve

I want to initiate a polling-sideeffect by running a cmd.
Upon receiving a cancellation action I want to stop my polling function.

### What is the issue

I am not sure of how to implement the cancellation. I figured there would b

[2018-03-27 11:11] on3iro commented on #180
Ok I think I just found a way to solve my problem.

I initiate a polling state outside of redux next to my sideeffects and expose a handler to set the state.
My polling function then just checks this state, while I can use redux-loop to run my handlers and e.g. cancel the polling.

[2018-03-27 11:11] #180 closed

[2018-03-27 23:36] bdwain commented on #180
Hi. I don't think you need to store state outside of redux if you want to avoid it. You can initiate the polling by running a side effect that calls setInterval or setTimeout. Those return an id, which you can store in your redux state. When you dispatch a cancellation action, just pass that id to a side effect that calls clearInterval/clearTimeout with the id from the state. Here's an example.

[

[2018-03-28 06:16] on3iro commented on #180
Hey @bdwain ,

wow thanks for the elaborate answer, I really appreciate that! 👍
Maybe we could add a recipes section to the docs with examples like this?
This would probably help new users to understand common advanced use cases and how
these problems could be solved with _redux-loop_. Another recipe that comes to mind
would be request queuing (😃 #176 ).

[2018-03-29 23:08] bdwain opened #181 "Make a recipies section in the docs"
We should have a recipes section with common patterns/problems and solutions to them.

Some ideas to start

#176 request queue
#180 polling

[2018-03-29 23:09] bdwain commented on #180
Yea that's a good idea. I've been meaning to do that. We just got the doc site up recently.

I created #181 to keep track of this for now. If you're interested, feel free to open a PR. I've been busy lately but i'll do it at some point soon when I get the chance.

[2018-04-01 05:48] on3iro commented on #181
I am currently quite busy, but confident that I'll be able to look into this by the end of next week :)

[2018-04-20 18:46] zachrnolan opened #184 "React Router Redux - Reducers may not dispatch actions."
I'm trying to navigate to the previous screen after a redux action. I'm using `react-router` with `react-router-redux` and `redux-loop`.

Here's the scenario:

1. On the home screen that there's a list of users `/home`.
1. Tap on a user to go to their profile `/home/profile/1234`.
1. Edit users name and tap save `this.props.dispatch(UserState.updateUser(id, user, history)`.
1. Once the user is upd

[2018-04-20 19:14] zachrnolan commented on #184
It seems that `history.goBack()` is firing another action within the react-router library. How would you handle this scenario with redux loop?

[2018-04-21 03:03] zachrnolan commented on #184
Surprise, there was an issue with my code! Anyone coming here with the same problem, make sure you aren't creating the history object twice like I was. Nothing to see here.

[2018-04-21 03:03] #184 closed

[2018-05-05 16:27] bdwain commented on #160
I'm going to close this since there's an example on the site now.

[2018-05-05 16:27] #160 closed

[2018-05-05 16:27] #165 closed

[2018-05-05 16:29] bdwain commented on #164
Gonna close this for now since #131 is already open.

[2018-05-05 16:29] #164 closed

[2018-05-14 06:10] bdwain commented on #178
FYI this is fixed as of 4.3.0

[2018-05-14 19:31] jonaskello opened #186 "Custom command types"
I just started using redux-loop, been going quite good so far. I started out by using `Cmd.run` and declaring the functions that contain the side-effects in my reducers. However I soon felt that I would like the definition of the commands to be more decoupled from the execution of the commands. Basically I would like to think of my commands in the same terms as actions. So a command would just be

[2018-05-15 01:27] bdwain commented on #186
I think what you're describing sounds more like [redux saga](https://redux-saga.js.org/) than redux-loop. It's a great library so it's worth checking out. But I think the idea of a separate executor goes against the core idea of redux loop, which is to treat side effects and state transitions the same (or as close to the same as possible). It's described a bit more in the intro of the [docs](https

[2018-05-15 01:27] #186 closed

[2018-05-15 05:36] jonaskello commented on #186
I've actually used redux-saga on a fairly large project. It works but it is quite hard to control. On my current project I am using elm-like fractal design for the reducers. So I nest them and nest the dispatch functions (manually). I don't think redux-saga is a good fit for that, I need the functionality of `Cmd.map` so the action creator functions become nested.

So looking at this example:

[co

[2018-05-17 04:32] bdwain commented on #186
Ah yea if you want a fractal pattern then Cmd.map is helpful for that.

While `fetchData` is a function with side effects, returning it as part of a Cmd is basically just a description of the side effect. it does not run the side effect. We never say `fetchData()` in our code. [Cmd.run just returns an object](https://github.com/redux-loop/redux-loop/blob/master/src/cmd.js#L179), and one of the pro

[2018-05-17 04:45] bdwain commented on #186
I think the above example in elm would look something like this (though i'm a bit rusty)

[code]

[2018-05-17 06:25] jonaskello commented on #186
Yes, I follow on that. My point was that even though the effect is not executed by the reducer, it is returning an object which has the actual effect function rather than a pure data record. So in the example, what you return with Cmd.run is something like:

[code]

While I would prefer this:

[code]

It is not so much different, just that the second object feels more pure since it is pure data. B

[2018-05-17 07:01] jonaskello commented on #186
Btw, I'm currently working on implementing something similar to elm subscriptions. For example I would like to subscribe to a local storage key value changes. Do you know if there is any existing work on subscriptions in the javascript world?

[2018-05-17 14:17] bdwain commented on #186
Interesting pattern! I see what you mean now. I’m glad you found something that works for you.

FYI there’s an open issue about adding a redux loop extension to redux devtools which would log cmds among other things. Not sure if that would help at all but I’d like to add that at some point.

As for subscriptions,  Nothing off the top of my head. There are connected components from react-redux for

[2018-05-17 21:26] jonaskello commented on #186
Interestingly I found [this package](https://github.com/stewartml/side-effects) which seems to treat the commands similar to what I describe above. Although I'll stick with redux-loop for now :-).

[2018-05-31 21:18] jonaskello opened #187 "Cmd.action without dispatching"
I have a situation were I want to update two parts of the state-tree as one atomic operation (without causing two re-renders). Specifically state in a local reducer and also in the root reducer.

So for this to work I need to run two actions, without causing two dispatch, and thus two renders. There is some relevant discussion for this in the Redux repo [#959](https://github.com/reduxjs/redux/issu

[2018-06-01 06:51] jonaskello commented on #187
This [article](https://hackernoon.com/the-importance-of-state-ownership-in-elm-72f711ceb244) also discusses this problem, also this [comment](https://medium.com/@julianjelfs_61852/yes-the-solution-you-describe-is-what-most-people-seem-to-be-suggesting-and-i-agree-it-gives-a-good-aed28026dfea) has some discussion about best practice in Elm which led me to elm-taco.

[2018-06-01 15:44] bdwain commented on #187
hi @jonaskello. I’m out of town for a few days but I’ll read through all of this next week.

[2018-07-24 06:37] SlavkoPar opened #188 "Found the way of testing whole app flow"
https://github.com/SlavkoPar/sajt

[2018-07-30 02:30] bdwain commented on #188
@SlavkoPar I'm not sure what you mean by testing the whole app flow. Can you elaborate please?

[2018-07-30 05:02] SlavkoPar commented on #188
We have 2 phases:
1) Shuffling the cards
2) Playing

We have the logic inside of reducers, where each action define the next action.

**Phase 1) shuffling**
When we dispatch: Actions.shuffleDeck() we have the flow:
   shuffleDeck -> shuffleDeckSucceed ->
   repeat actions 10 times:
      drawTheCard to human -> drawTheCardSucceed
	 repeat actions 3 times:
         drawTheCard to computer -> drawTh

[2018-07-30 05:13] bdwain commented on #188
Sorry I meant can you elaborate on what this means in the context of Redux Loop? Is there  a change you would like me to add to the documentation? Or a source change? I'm not really following.

[2018-07-30 09:41] bdwain commented on #181
Closed via #183

[2018-07-30 09:41] #181 closed